<template>

  <q-page class="bg-grey-3 q-pa-md">
    <h3>{{$store.state.patient.data.name}}</h3>

    <!-- Shared with -->
    <q-card class="bg-white q-pa-sm q-mt-md">
      <ServiceListModal ref="serviceListModal"
                        :disabledList="$store.state.patient.services" @selected="printSelected"/>
      <q-collapsible icon="folder_shared" label="Shared With">
      <q-card-main>
        <div v-if="loading" class="flex flex-center" style="width: 100%">
          <q-spinner size="40px"/>
        </div>
        <div v-else>
          <q-list dense no-border>
            <q-item v-for="(service, key) in $store.state.patient.services" :key="service.name">
              <q-item-main :label="service.name"/>
              <q-item-side>
                <q-btn right
                       icon="delete"
                       color="red" flat
                       :loading="deleting"
                       @click="removeService(key)"/>
              </q-item-side>
            </q-item>
          </q-list>
        </div>
      </q-card-main>

      <!-- Add button - Show modal, right align -->
      <q-card-actions align="end">
        <q-btn flat color="primary" label="Add" @click="$refs.serviceListModal.$refs.modal.show()"/>
      </q-card-actions>
      <!-- -->
    </q-collapsible>

    </q-card>
    <!-- -->

    <!-- Prescription Card -->
    <q-card class="bg-white q-pa-sm q-mt-md">
      <q-collapsible icon="local_hospital" label="Medications">
        <PrescriptionList :patientID="$route.params.patientID"/>
        <AddPrescription ref="addPrescriptionModal" :patientID="$route.params.patientID"/>
      <!-- Add button - Show modal, right align -->
      <q-card-actions align="end">
        <q-btn flat color="primary" label="Add" @click="$refs.addPrescriptionModal.showModal()"/>
      </q-card-actions>
      </q-collapsible>
      <!-- -->
    </q-card>
    <!-- Healthcare Card-->
    <q-card>
        <Healthcare :patientID="$route.params.patientID"/>
    </q-card>
    <!-- -->
    <!-- Assistance Card-->
    <q-card>
      <Assistance :patientID="$route.params.patientID"/>
    <!-- -->
    </q-card>
    <!-- MedicalHistory Card-->
    <q-card>
      <MedicalHistory :patientID="$route.params.patientID"/>
    <!-- -->
    </q-card>
    <!-- Emergency Card-->
    <q-card>
      <Emergency :patientID="$route.params.patientID"/>
    <!-- -->
    </q-card>
    <!-- Social Card-->
    <q-card>
      <SocialHistory :patientID="$route.params.patientID"/>
    <!-- -->

    </q-card>

    <q-btn icon="delete"
      color="red"
      label="delete patient"
      :loading="deleting"
      @click="deletePatient(key)" />
  </q-page>
</template>

<script>
import AddPrescription from '../../modals/AddEditPrescription/AddEditPrescription';
import PrescriptionList from '../../components/PrescriptionList/PrescriptionList';
import ServiceListModal from '../../modals/ServiceList/ServiceList';
import Healthcare from '../../components/Healthcare/Healthcare.vue';
import Assistance from '../../components/Assistance/Assistance.vue';
import MedicalHistory from '../../components/MedicalHistory/MedicalHistory.vue';
import Emergency from '../../components/Emergency/Emergency.vue';
import SocialHistory from '../../components/SocialHistory/SocialHistory.vue';

export default {
  name: 'PatientProfile',
  data() {
    return {
      dbRef: this.$firebase.firestore().collection('patients').doc(this.$route.params.patientID),
      deleting: false,
      loading: true,
    };
  },


  mounted() {
    this.dbRef = this.$firebase.firestore().collection('patients').doc(this.$route.params.patientID);
    this.$store.dispatch('patient/loadPatient', this.dbRef)
      .then(() => {
        this.loading = false;
      });
  },
  methods: {
    printSelected(selected) {
      this.$store.dispatch('patient/addService', selected['.key']);
    },
    removeService(serviceID) {
      this.deleting = true;
      this.$store.dispatch('patient/removeService', serviceID)
        .then(() => {
          this.deleting = false;
        });
    },
    deletePatient() {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Are you sure you want to permanently delete this patient?',
        ok: 'Yes',
        cancel: 'No',
      }).then(() => {
        /* User Accepted Delete */
        this.$firebase.firestore()
          .collection('patients')
          .doc(this.$route.params.patientID)
          .delete();
        this.hide();
      }).catch(() => {});
    },
  },
  components: {
    AddPrescription,
    PrescriptionList,
    ServiceListModal,
    Healthcare,
    Assistance,
    MedicalHistory,
    Emergency,
    SocialHistory,
  },
};
</script>

<style scoped>

</style>
