<template>
  <div>
    <!-- Healthcare Card -->
    <q-card class="bg-white q-pa-sm q-mt-md">
        <q-collapsible icon="payment" label="Healthcare Details">
          <div v-for="health in healthcare" :key="health['.key']">
            <q-card-main class="text-faded">
              Medicare Number: <b>{{ health.medicare }}</b><br>
              Pension Card Number: <b>{{ health.pension }}</b><br>
              Insurance Provider: <b>{{ health.provider }}</b><br>
              Insurance Membership: <b>{{ health.insurer }}</b><br>
              Aged Care Details: <b>{{ health.agedcare }}</b><br>
            </q-card-main>
            <q-btn class="btn q-pa-md" label="remove" color="red" flat
              @click="removeHealthcare(health['.key'])"/>
          </div>
          <div style="width: 100%">
            <q-card-actions align="end">
              <q-btn v-if="healthcare == ''" flat color="primary" label="Add"
              @click="$refs.addEditHealthcare.showModal()"/>
            </q-card-actions>
          </div>
        </q-collapsible>
        <!-- -->
    </q-card>
    <!-- Modals -->
    <AddEditHealthcare ref="addEditHealthcare" :patientID="$route.params.patientID"/>
  </div>
</template>

<script>
import AddEditHealthcare from '../../modals/AddEditHealthcare/AddEditHealthcare.vue';

export default {
  name: 'Healthcare',
  props: {
    patientID: '',
  },
  components: {
    AddEditHealthcare,
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      loading: true,
      saving: false,
      healthcare: '',
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('healthcare', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('healthcare'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    removeHealthcare(key) {
      this.deleting = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('healthcare')
        .doc(key)
        .delete()
        .then(() => {
          this.deleting = false;
        });
    },
  },
};
</script>
<style>
.btn{
  height: 10px;
}
</style>
