<template>
  <div v-if="assistance">
    <!-- Assistance Card -->
    <q-card class="bg-white q-pa-sm q-mt-md">
        <q-collapsible icon="supervisor_account" label="Assistance Required">
          <q-list highlight separator no-border>
                <q-item v-for="(assist, index) in assistance" :key="index">
                 <q-item-main :label="assist.assistance"/>
                 <q-item-side>
                   <q-btn right
                          icon="delete"
                          color="red" flat
                          :loading="deleting"
                          @click="removeAssistance(assist['.key'])"/>
                 </q-item-side>
               </q-item>
              </q-list>
          <div class="justify-center">
            <q-input v-model="newAssistance"
              placeholder="Enter Assistance Required"
              @keydown.enter="addAnother">
            </q-input>
          </div>
        </q-collapsible>
        <!-- -->
    </q-card>
  </div>
</template>

<script>

export default {
  name: 'Assistance',
  props: {
    patientID: '',
  },
  components: {
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      another: null,
      loading: true,
      deleting: false,
      newAssistance: '',
      assistance: [],
      // When we are saving information...
      saving: false,
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('assistance', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('assistance'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    submitAssistanceDetails() {
      // add Assistance information
      this.addAssistance();
    },
    addAnother() {
      this.saving = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('assistance')
        .add({ assistance: this.newAssistance });
      this.newAssistance = '';
      /* if (this.another) {
        this.newAssistance.required.push(this.another);
        console.log(this.newAddistance.required);
        this.another = null;
      } */
    },
    removeAssistance(key) {
      this.deleting = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('assistance')
        .doc(key)
        .delete()
        .then(() => {
          this.deleting = false;
        });
    },
  },
};
</script>
<style>
</style>
