<template>
  <q-modal v-model="modalShow" ref="modalShow" minimized>

    <!-- populate helpline information -->
    <div class="q-mb-sm text-left q-pa-md">
      <div class="q-headline q-pa-sm" style="font-size: 3.8vw">
        <big class="text-weight-medium" style="text-truncate">{{helpline.name}}</big><br>
        <small class="text-weight-light text-no-wrap text-truncate" v-if="helpline.phone">
          {{helpline.phone}}</small><br>
      </div>
      <div class="flex justify-end">
        <q-btn v-close-overlay
          label="Close"
          color="red"
          flat/>
        <q-btn color="primary" @click="openPhone(helpline)">Call</q-btn>
      </div>
    </div>
  </q-modal>
</template>

<script>

export default {
  name: 'HelplineInformation',
  data() {
    return {
      helpline: {},
      loading: true,
      modalShow: false,
      madeCall: false,
      opened: false,
    };
  },
  mounted() {
    window.addEventListener('focus', this.checkFocus);
    window.addEventListener('blur', this.checkFocus);
  },
  methods: {
    checkFocus() {
      if (document.hasFocus() && this.madeCall) {
        this.opened = true;
        this.modalShow = false;
      }
    },
    async showModal(helpline) {
      this.helpline = helpline;
      // this.modalShow = true;
      this.$refs.modalShow.show();
    },
    bindFirestore() {
      const that = this;
      this.$binding('helpline', this.$firebase.firestore()
        .collection('helplines')
        .doc(this.$route.params.helplineid))
        .then(() => {
          that.loading = false;
        });
    },
    openPhone(helpline) {
      console.log(helpline);
      console.log('document', document);
      document.location = `tel:${helpline.phone}`;
      this.madeCall = true;
    },
  },
};
</script>
