<template>
  <q-modal ref="modal" v-model="layoutModal" :content-css="{minWidth: '80vw', minHeight: '80vh'}">
    <q-modal-layout>
      <q-toolbar slot="header" color="teal">
        <q-btn
          flat
          round
          dense
          @click="layoutModal = false"
          icon="reply"
        />
        <q-toolbar-title>
          Services
        </q-toolbar-title>
      </q-toolbar>

      <q-toolbar slot="header" color="teal">
        <q-search class="full-width" inverted v-model="search" color="none" />
      </q-toolbar>

      <!-- <q-toolbar slot="footer">
        <q-toolbar-title>
          Footer
        </q-toolbar-title>
      </q-toolbar> -->

      <div class="layout-padding">
        <div v-if="loading" style="width: 100%" class="flex flex-center">
          <q-spinner size="40px"/>
        </div>
        <div v-else>
          <q-list highlight>
            <q-item v-for="service in filteredServices"
                    :key="service['.key']"
                    @click.native="onServiceSelect(service)"
                    >
              {{service.name}}
              {{service.disable}}
            </q-item>
          </q-list>
        </div>

      </div>
    </q-modal-layout>
  </q-modal>
</template>

<script>
/**
 * List and search modal for services.
 * Props:
 *  - disableList: List of services not to disable
 * Events:
 *  - @selected(service) returns clicked service
 */
import { chain } from 'lodash';

export default {
  name: 'ServiceList',
  props: ['disabledList'],
  data() {
    return {
      layoutModal: false,
      search: '',
      services: {},
      loading: true,
    };
  },
  mounted() {
    this.bindFirestore();
  },
  methods: {
    bindFirestore() {
      const that = this;
      this.$binding('services', this.$firebase.firestore()
        .collection('services'))
        .then(() => {
          that.loading = false;
        });
    },
    onServiceSelect(service) {
      this.$emit('selected', service);
      this.$refs.modal.hide();
    },
    isServiceDisabled(service) {
      const serviceIDs = Object.keys(this.disabledList);
      return serviceIDs.indexOf(service) >= 0;
    },
  },
  computed: {
    filteredServices() {
      return chain(this.services)
        .filter(service => service.name
          .toLowerCase()
          .includes(this.search.toLowerCase())
          && !this.isServiceDisabled(service['.key']))
        .value();
    },
  },
};
</script>

<style scoped>

</style>
