<template>
    <q-modal minimized ref="modal">
      <div class="q-pa-md">
        <h3 class="q-mt-sm q-mb-sm">{{getModeTag}} Prescription</h3>

        <!-- Saving Spinner -->
        <div v-if="saving" class="flex flex-center" style="width: 100%">
          <q-spinner class="q-ma-md" size="40px"></q-spinner>
        </div>
        <!-- Input Boxes -->
        <div v-else class="q-mb-lg">

          <!-- Name Field-->
          <q-field
            :error="$v.prescription.name.$error"
            error-label="Name required">
            <q-input
              v-model="prescription.name" stack-label="Name"
              @keyup.enter="submitForm"
              @blur="$v.prescription.name.$touch"></q-input>
          </q-field>
          <!-- -->

          <!-- Dosage Field -->
          <q-field
            :error="$v.prescription.dosage.$error"
            :error-label="dosageValidationErrorMessage">
            <q-input
              v-model="prescription.dosage" stack-label="Dosage" suffix="mg"
              @keyup.enter="submitForm"
              @blur="$v.prescription.dosage.$touch"></q-input>
          </q-field>
          <!-- -->

          <!-- frequency Field -->
          <q-field
            :error="$v.prescription.frequency.$error"
            error-label="frequency required">
            <q-input
              v-model="prescription.frequency" stack-label="frequency"
              @keyup.enter="submitForm"
              @blur="$v.prescription.frequency.$touch"></q-input>
          </q-field>
          <!-- -->
        </div>

        <!-- Action Buttons -->
        <div class="row justify-end" style="width: 100%">
          <q-btn color="positive" :label="getModeTag" @click="submitForm()" flat :disable="saving"/>
          <q-btn color="negative" label="Close" @click="hideModal" flat :disable="saving"/>
        </div>
      </div>
  </q-modal>
</template>

<script>
import { required, numeric } from 'vuelidate/lib/validators';

/**
 * Usage:
 * To add or edit a prescription medication
 * <AddEditPrescription/>
 *
 * (Add Mode)
 * this.$refs.editPrescriptionModal.save();
 *
 * (Edit Mode)
 * this.$refs.editPrescriptionModal.save(true, prescriptionDocument)
 */
export default {
  name: 'AddEditPrescription',
  props: {
    patientID: '',
  },
  data() {
    return {
      // Stores the form's data
      prescription: {
        dosage: '',
        frequency: '',
        name: '',
      },
      // When we are saving the medication information...
      saving: false,
      edit: false,
      doc: {},
    };
  },
  // Adds validation to the prescription form
  validations: {
    prescription: {
      name: { required },
      dosage: { required, numeric },
      frequency: { required },
    },
  },
  computed: {
    /**
     * Generates a validation message for dosage based on the error
     */
    dosageValidationErrorMessage() {
      if (!this.$v.prescription.dosage.required) {
        return 'Dosage required';
      } else if (!this.$v.prescription.dosage.numeric) {
        return 'Must be a number';
      }
      return null;
    },
    /**
     * Get mode tag
     * Returns "Add" or "Edit" depending on mode
     */
    getModeTag() {
      if (this.edit) {
        return 'Edit';
      }
      return 'Add';
    },
  },
  methods: {
    /**
     * Shows the modal.
     * If edit mode is set to true, and a doc is provided
     * instead of creating a new prescription, it'll update
     * the preexisting one.
     */
    showModal(edit, doc) {
      // By default set edit mode to false
      this.edit = false;

      // If edit mode is true, then
      if (edit) {
        this.edit = true;
        this.prescription = doc;
      }

      // Reset validation, and show the modal
      this.$refs.modal.show();
    },
    /**
     * Hides modal, and clears form and validation
     */
    hideModal() {
      // Resets form
      this.resetPrescription();

      // Resets form validation flags
      this.$v.$reset();

      // Hide modal
      this.$refs.modal.hide();
    },
    /**
     * Callback for any sort of "submit form" event, inc:
     * input keyup.enter events, and "Add/Edit" button press
     *
     * Validates form, and redirects to appropriate DB action
     */
    submitForm() {
      if (this.edit) {
        this.editPrescription();
      } else {
        this.addPrescription();
      }
    },
    /**
     * Writes the new medication to the database
     */
    addPrescription() {
      this.saving = true;

      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('prescriptions')
        .add(this.prescription)
        .then(() => {
          // Set saving flag to false - thus removing the spinner
          this.saving = false;

          // Hide modal
          this.hideModal();
        });
    },
    /**
     * Instead of creating a new prescription, edit an existing one
     * Requires the .key of the existing document as provided by
     * the current prescription object.
     */
    editPrescription() {
      this.saving = true;

      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('prescriptions')
        .doc(this.prescription['.key'])
        .set(this.prescription)
        .then(() => {
          // Set saving flag to false - thus removing the spinner
          this.saving = false;

          // Hide modal
          this.hideModal();
        });
    },
    /**
     * Resets the prescription inputs to default
     */
    resetPrescription() {
      this.prescription = {
        dosage: '',
        frequency: '',
        name: '',
      };
    },
  },
};
</script>
