<template>
    <q-card class="bg-white q-px-md q-py-sm" style="width: 100%;">
      <div class="q-mt-sm text-left">
        <h3> {{service.name}} </h3>
        <div class ="text-bold">
          <big> {{service.type}} </big> <br>
        </div>
        <div >
          <big> {{service.address}} <br>
          {{service.contact.phone}}</big>
        </div>
        <div><br><p>Brief Description of Service</p></div>
        <div class="row justify-end" style="width: 100%">
          <q-btn flat color="primary" label="Book Now"/>
        </div>
      </div>
    </q-card>
</template>

<script>
export default {
  name: 'ServiceDisplayedInformation',
  data() {
    return {
      layoutModal: false,
      service: [],
      loading: true,
    };
  },
  mounted() {
    this.bindFirestore();
  },
  methods: {
    /**
     * Bind data variables to a Firestore collection
     */
    bindFirestore() {
      const that = this;
      this.$binding('service', this.$firebase.firestore()
        .collection('services')
        .doc(this.$route.params.serviceid))
        .then(() => {
          console.log(this.service);
          that.loading = false;
        });
    },
  },
};
</script>
