<template>
  <q-list no-border>
    <q-list-header>Patients</q-list-header>
    <q-item v-for="patient in $store.state.user.patients" :key="patient['.key']">
      <q-item-main :label="patient.name" />
      <q-item-side right>
        <q-btn flat color="orange" icon="chevron_right"></q-btn>
      </q-item-side>
    </q-item>
  </q-list>
</template>

<script>
export default {
  name: 'PatientList',
};
</script>
