<template>
  <div>
    <!-- Social History Card -->
    <q-card class="bg-white q-pa-sm q-mt-md">
        <q-collapsible icon="sentiment_satisfied_alt" label="Social History">
          <div v-for="row in socialHistory" :key="row['.key']">
            <q-card-main class="text-faded">
              Relationship Status: <b>{{ row.relationship }}</b><br>
              Name of Partner: <b>{{ row.name }}</b><br>
              Work Experience: <b>{{ row.work }}</b><br>
              Languages Spoken: <b>{{ row.language }}</b><br>
              Religious Faith: <b>{{ row.religion }}</b><br>
              Interests: <b>{{ row.interest }}</b><br>
              Travels and Holidays: <b>{{ row.travel }}</b><br>
            </q-card-main>
            <q-btn class="btn q-pa-md" label="remove" color="red" flat
              @click="removeSocial(row['.key'])"/>
          </div>
          <div style="width: 100%">
            <q-card-actions align="end">
              <q-btn v-if="socialHistory == ''" flat color="primary" label="Add"
              @click="$refs.addEditSocial.showModal()"/>
            </q-card-actions>
          </div>
        </q-collapsible>
      <!-- -->
    </q-card>
    <!-- Modals -->
    <AddEditSocial ref="addEditSocial" :patientID="$route.params.patientID"/>
  </div>
</template>

<script>

import AddEditSocial from '../../modals/AddEditSocial/AddEditSocial.vue';

export default {
  name: 'SocialHistory',
  props: {
    patientID: '',
  },
  components: {
    AddEditSocial,
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      loading: true,
      socialHistory: '',
      // When we are saving...
      saving: false,
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('socialHistory', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('socialHistory'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    removeSocial(key) {
      this.deleting = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('socialHistory')
        .doc(key)
        .delete()
        .then(() => {
          this.deleting = false;
        });
    },
  },
};
</script>
