<template>
  <div>
    <!-- Loading Spinner -->
    <div class="flex flex-center" v-if="loading">
      <q-spinner size="40px"/>
    </div>
    <!-- -->

    <!-- Medication list -->
    <q-list highlight no-border>
      <!-- Collapsable item item -->
      <q-collapsible popup
        v-for="prescription in prescriptions"
                     :key="prescription['.key']" :label="prescription.name">

        <!-- Div with content -->
        <div class="row" v-ripple.mat @click="showActionSheet(prescription)">
          <div class="col">
            <p class="text-faded">
              Dosage: {{prescription.dosage}}mg<br>
              Frequency: {{prescription.frequency}}
            </p>
          </div>
          <!-- -->

          <!-- Arrow icon -->
          <div class="col">
            <div class="flex justify-end" style="width: 100%">
              <q-btn no-ripple flat icon="keyboard_arrow_right"></q-btn>
            </div>
          </div>
          <!-- -->
        </div>
      </q-collapsible>
      <!-- -->
    </q-list>
    <!-- -->

    <!-- Modal Definitions -->
    <AddEditPrescription ref="editPrescriptionModal" :patientID="patientID"/>
  </div>
</template>

<script>
import AddEditPrescription from '../../modals/AddEditPrescription/AddEditPrescription';

export default {
  name: 'PrescriptionList',
  props: {
    patientID: '',
  },
  components: {
    AddEditPrescription,
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      prescriptions: {},
      loading: true,
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('prescriptions', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('prescriptions'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    /**
     * Shows Delete/Edit action sheet
     * @param prescription
     */
    showActionSheet(prescription) {
      const that = this;
      this.$q.actionSheet({
        title: 'Prescription Actions',
        dismissLabel: 'Quit',
        grid: true,
        actions: [
          // Delete action - deletes prescription meds
          {
            label: 'Delete',
            color: 'negative',
            icon: 'delete',
            handler() {
              that.$firebase.firestore()
                .collection('patients')
                .doc(`${this.patientID}`)
                .collection('prescriptions')
                .doc(prescription['.key'])
                .delete();
            },
          },
          // Shows edit icon - opens AddEditPrescription modal in edit mode with params
          {
            label: 'Edit',
            icon: 'edit',
            handler() {
              that.$refs.editPrescriptionModal.showModal(true, prescription);
            },
          },
        ],
      });
    },
  },
};
</script>
