<template>
  <div v-if="medicalHistory">
    <!-- Medical History Card -->
    <q-card class="bg-white q-pa-sm q-mt-md">
      <q-collapsible icon="history" label="Medical History">
        <div v-for="history in medicalHistory" :key="history['.key']">
          <q-card-main class="text-faded">
            Diagnosis: <b>{{ history.diagnosis }}</b><br>
            Allergies: <b>{{ history.allergies }}</b><br>
            Vacinations: <b>{{ history.vacinations }}</b><br>
            Doctor(s): <b>{{ history.doctor }}</b><br>
            Practice(s) Details: <b>{{ history.practice }}</b><br>
            Last Visit: <b>{{ history.lastVisit }}</b><br>
            ACAT Assessment: <b>{{ history.acat }}</b><br>
          </q-card-main>
          <q-btn class="btn q-pa-md" label="remove" color="red" flat
            @click="removeMedicalHistory(history['.key'])"/>
        </div>
          <div style="width: 100%">
            <q-card-actions align="end">
              <q-btn v-if="medicalHistory == ''" flat color="primary" label="Add"
              @click="$refs.addEditMedicalHistory.showModal()"/>
            </q-card-actions>
          </div>
        </q-collapsible>
      <!-- -->
    </q-card>
    <AddEditMedicalHistory ref="addEditMedicalHistory" :patientID="$route.params.patientID"/>
  </div>
</template>

<script>
import AddEditMedicalHistory from '../../modals/AddEditMedicalHistory/AddEditMedicalHistory.vue';

export default {
  name: 'MedicalHistory',
  props: {
    patientID: '',
  },
  components: {
    AddEditMedicalHistory,
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      loading: true,
      medicalHistory: '',
      // When we are saving the medical information...
      saving: false,
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('medicalHistory', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('medicalHistory'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    removeMedicalHistory(key) {
      this.deleting = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('medicalHistory')
        .doc(key)
        .delete()
        .then(() => {
          this.deleting = false;
        });
    },
  },
};
</script>
<style>
.btn{
  height: 10px;
}
</style>
