<template>
    <q-modal minimized ref="modal">
      <div class="q-pa-md">
        <h3 class="q-mt-sm q-mb-sm">{{getModeTag}} Emergency Contact</h3>

        <!-- Saving Spinner -->
        <div v-if="saving" class="flex flex-center" style="width: 100%">
          <q-spinner class="q-ma-md" size="40px"></q-spinner>
        </div>
        <!-- Input Boxes -->
        <div v-else class="q-mb-lg">
          <q-input v-model="emergency.name" stack-label="Full Name of Contact"/>
          <q-input v-model="emergency.contact" stack-label="Phone Number"/>
          <q-input v-model="emergency.relation" stack-label="Relationship"/>
          <q-input v-model="emergency.address" stack-label="Contact's Address"/>
        </div>

        <!-- Action Buttons -->
        <div class="row justify-end" style="width: 100%">
          <q-btn color="positive" :label="getModeTag" @click="submitForm" flat :disable="saving"/>
          <q-btn color="negative" label="Close" @click="hideModal" flat :disable="saving"/>
        </div>
      </div>
  </q-modal>
</template>

<script>
/**
 * Usage:
 * To add emergency
 */
export default {
  name: 'AddEditEmergency',
  props: {
    patientID: '',
  },
  data() {
    return {
      // Stores the form's data
      emergency: {
        name: '',
        contact: '',
        relation: '',
        address: '',
      },
      // When we are saving information...
      saving: false,
      edit: false,
      doc: {},
    };
  },
  computed: {
    /**
     * Get mode tag
     * Returns "Add" or "Edit" depending on mode
     */
    getModeTag() {
      if (this.edit) {
        return 'Edit';
      }
      return 'Add';
    },
  },
  methods: {
    /**
     * Shows the modal.
     * If edit mode is set to true, and a doc is provided
     * instead of creating a new form, it'll update
     * the pre-existing one.
     */
    showModal(edit, doc) {
      // By default set edit mode to false
      this.edit = false;

      // If edit mode is true, then
      if (edit) {
        this.edit = true;
        this.emergency = doc;
      }

      // Reset validation, and show the modal
      this.$refs.modal.show();
    },
    /**
     * Hides modal, and clears form and validation
     */
    hideModal() {
      // Resets form
      this.resetEmergency();

      // Hide modal
      this.$refs.modal.hide();
    },
    /**
     * Callback for any sort of "submit form" event, inc:
     * input keyup.enter events, and "Add" button press
     *
     */
    submitForm() {
      // add the form
      this.addEmergency();
    },
    /**
    * Writes the new data to the database
    */
    addEmergency() {
      this.saving = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('emergency')
        .add(this.emergency)
        .then(() => {
          // Set saving flag to false - thus removing the spinner
          this.saving = false;
          // Hide modal
          this.hideModal();
        });
    },
    /**
    * Resets the form inputs to default
    */
    resetEmergency() {
      this.emergency = {
        name: '',
        contact: '',
        relation: '',
        address: '',
      };
    },
  },
};
</script>
