  
<template>
<div class="q-pa-md row justify-center">


<q-card class="my-card bg-white">
    <figure>
      <img class="google" src="https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg">
    </figure>
        <q-card-actions  align="end">
        <q-btn flat color ="primary" to='/authoriseSign'>Connect Google Account</q-btn>
      </q-card-actions>
    </q-card>

    <q-card class="my-card bg-white">
    <figure>
      <img class="apple" src="https://dnamusiclabs.com/sites/default/files/apple_text_logo-01.png">
    </figure>
        <q-card-actions  align="end">
        <q-btn flat color ="primary" to='/authoriseSignApple'>Connect Apple Account</q-btn>
      </q-card-actions>
    </q-card>

        <q-card class="my-card bg-white">
    <figure>
      <img class="exchange" src="https://webstuff.co.il/uploads/images/articles/pic-106.jpg">
    </figure>
        <q-card-actions  align="end">
        <q-btn flat color ="primary" to='/authoriseSignExchange'>Connect Exchange Account</q-btn>
      </q-card-actions>
    </q-card>

    <q-card class="my-card bg-white">
    <figure>
      <img class="office" src="https://images.techhive.com/images/article/2014/05/office-365-logo_gallery-100266091-large.jpg">
    </figure>
        <q-card-actions  align="end">
        <q-btn flat color ="primary" to='/authoriseSignOffice'>Connect Office365 Account</q-btn>
      </q-card-actions>
    </q-card>
    </div>
</template>

<script>

export default {
  name: 'ProvidersList',
  data() {
    return {
         };
  },
};

</script>

<style scoped>
.my-card{
    width: 100%;
    margin-top: 1em;
    max-width: 700px;
}
@media screen and (min-width: 800px) and (max-width: 2880px) {
    .my-card {
    width: 100%;
    margin-top: 1em;
    max-width: 700px;
    margin-left: 4em;
    margin-right: 4em;
    }
}
h3 {
    margin-top: 0%;
  }
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 3%;
  height: 180px;
}
figure{
   width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
.google{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-16% 0;
}
.apple{
display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-6% 0;
}
.exchange{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-5% 0;
   padding-right: 5px;
   padding-left: 5px;
}
.office{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-15% 0;
}

</style>

