<template>
  <div>
    <!-- Dropdown menu for profile and signing out -->
    <q-btn-dropdown dense flat round icon="person">
      <!-- dropdown content -->
      <div>
        <q-list id="fit" link>
          <q-list-header>{{$store.state.user.data.name}}</q-list-header>

          <!-- Career Profile -->
          <q-item to='/profile'>
            <q-item-main>
              <q-item-tile label>Profile</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item-separator />

          <q-item to='/patients/list'>
            <q-item-main>
              <q-item-tile label>Patient list</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item-separator />

          <q-item to='/patients/list'>
            <q-item-main>
              <q-item-tile label>Patient List</q-item-tile>
            </q-item-main>
          </q-item>
          <q-item-separator />

          <!-- Add Patient -->
          <q-item v-for="(patient, key) in $store.state.user.patients" :key="key"
                  :to="'/patient/' + key">{{patient.name}}</q-item>
          <q-item-separator />
          <q-item
            v-close-overlay
            style="color: grey"
            @click.native="$refs.addPatientModal.showModal()">
            <q-item-main>
              <q-item-tile label>Add Patient</q-item-tile>
            </q-item-main>
          </q-item>

          <!-- Sign Out -->
          <q-item-separator />
          <q-item>
            <q-item-main>
              <q-item-tile @click.native="$firebase.auth().signOut()" label>Sign Out</q-item-tile>
            </q-item-main>
          </q-item>
        </q-list>
      </div>
    </q-btn-dropdown>
    <AddPatient ref="addPatientModal"/>
  </div>
</template>

<script>
import AddPatient from '../modals/AddPatient/AddPatient';

export default {
  name: 'CarerNavigationDropdown',
  components: { AddPatient },
};
</script>

<style>
  .q-btn-dropdown-arrow {
    display: none!important;
  }

  #fit {
    width: 11em;
  }
</style>
