<template>
  <q-modal v-model="opened" minimized class="rounded-border" no-backdrop-dismiss>
    <div class="q-pa-lg">
      <q-input
        v-model="name"
        float-label="Patient Name"
        class="q-mb-lg"
      ></q-input>
      <div class="flex justify-end">
        <q-btn flat color="negative" v-close-overlay>Close</q-btn>
        <q-btn flat color="primary" @click.native="addPatient">Add</q-btn>
      </div>
    </div>
  </q-modal>
</template>

<script>
export default {
  name: 'AddPatient',
  data() {
    return {
      name: '',
      opened: false,
    };
  },
  methods: {
    async addPatient() {
      await this.$firebase.firestore().collection('patients').add({
        name: this.name,
        carers: [
          this.$firebase.auth().currentUser.uid,
        ],
      });
      this.opened = false;
      const userID = this.$firebase.auth().currentUser.uid;
      const userPromise = this.$store.dispatch('user/loadUser', this.$firebase.firestore().collection('users').doc(userID));

      Promise.all([userPromise]).then(() => {
        this.loading = false;
        this.profile = Object.assign({}, this.$store.state.user.data);
      });
    },
    showModal() {
      this.opened = true;
    },
    hideModal() {
      this.opened = false;
    },
  },
};
</script>
