<template>
  <q-page class="bg-grey-3">
    <!-- Loading Spinner -->
    <div v-if="loading" class="flex flex-center q-pt-xl">
      <q-spinner size="40px"/>
    </div>
    <!-- Patient Search -->
    <div v-else>
      <q-toolbar color="orange">
        <q-search class="full-width" v-model="search" inverted color="none" />
      </q-toolbar>

      <div class="layout-padding">
        <q-list class="bg-white">
<q-item v-for="(patient, key) in $store.state.user.patients" :key="key"
                  :to="'/patient/' + key">{{patient.name}}</q-item>
        </q-list>
      </div>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'PatientList',
  data() {
    return {
      loading: true,
      search: '',
      serviceDbRef: this.$firebase.firestore().collection('services').doc(this.$store.state.user.data.service),
      hotlineDbRef: this.$firebase.firestore().collection('hotlines').doc(this.$store.state.user.data.hotline),
    };
  },
  async mounted() {
    await this.$store.dispatch('internal/loadService', this.serviceDbRef);
    await this.$store.dispatch('internal/loadHotline', this.hotlineDbRef);
    await this.$store.dispatch('internal/loadServicePatients');
    this.loading = false;
  },
};
</script>

<style scoped>

</style>
