<template>
  <!-- Grey page background -->
  <q-page class="bg-grey-3 q-pa-lg">

    <!-- Home Page Heading -->
    <h2>Welcome!</h2>
    <h4>Your patient bookings</h4>
  <!-- Upcoming Appointments Overview Section -->
  <q-card class="bg-white">
    <q-list inset-separator class="q-mt-md">
      <q-item>
        <q-item-main label="Wednesday 10 October 2018"
        sublabel="You have an appointment with Dr John at 10.00 am"></q-item-main>
        <q-item-side right>
          <q-btn flat
          color="deep-orange-12"
          icon="keyboard_arrow_right"></q-btn>
        </q-item-side>
      </q-item>
    </q-list>
  </q-card>
  </q-page>
</template>

<script>

export default {
  name: 'ServiceHome',
};
</script>

<style scoped>

</style>
