<template>
      <div>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Related Articles - How can I Support Someone With Dementia?</h3>

  <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
                      <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>MyAgedCare - "Caring for someone with dimentia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     @click="open = true">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Queensland Health - "Caring for a person with Dementia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open2 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>HealthDirect - "Help and support for carers of people with dementia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open3 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>

  </q-page>
  <q-modal v-model="open" minimized class="rounded-border">
      <div class="modal">
      <h3>MyAgedCare - "Caring for someone with dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>Caring for someone living with dementia is physically and emotionally
        challenging. If you're caring for someone living with dementia, it's
        important to understand that if their needs and behaviour change, it may
        not be anyone's fault...</p>
      <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://www.myagedcare.gov.au/carers/caring-someone-dementia')" label="Read More"/>
      <q-btn color="red" @click="open = false" label="Close" class="close"/>
            </div>
    </div>
    </q-modal>

    <q-modal v-model="open2" minimized class="rounded-border">
      <div class="modal">
      <h3>Queensland Health - "Caring for a person with Dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>In the early stages of dementia, people function relatively normally with some
support. As dementia progresses, more specific symptoms occur (such as
difficulty with speech and language, poor judgement and lack of insight).
Difficulty with personal care tasks...</p>
        <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://www.health.qld.gov.au/__data/assets/pdf_file/0023/444524/dementia.pdf')" label="Read More"/>
      <q-btn color="red" @click="open2 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>

    <q-modal v-model="open3" minimized class="rounded-border">
      <div class="modal">
      <h3>HealthDirect - "Help and support for carers of people with dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>Caring for someone with dementia can be frustrating and stressful at
        times, as well as rewarding. If you have a caring role, however, help
        and support is available. Several organisations can help with education,
        training and support...</p>
        <div class="flex justify-end">
       <q-btn color="primary" @click="openURL('https://www.dementia.org.au/support/in-your-region/qld')" label="Read More"/>
      <q-btn color="red" @click="open3 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      open2: false,
      open3: false,
      open4: false,
    };
  },
    methods: {
    openURL(url){
      window.open(url)
    }
  },
};
</script>
<style scoped>
h2, h5 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
.modal{
  padding: 5%;
}
.close {
  margin-left: 2%;
}
</style>
