<template>
      <div>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Related Articles - What causes dementia?</h3>

  <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
                      <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Healh Direct - "What causes dementia?"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     @click="open = true">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>University of Queensland - "What causes dementia?"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open2 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Dementia Australia - "Causes of dementia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open3 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>

  </q-page>
  <q-modal v-model="open" minimized class="rounded-border">
      <div class="modal">
      <h3>Healh Direct - "What causes dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>Dementia is an umbrella term that describes a collection of symptoms, no
        t one specific disease. There are more than 100 different diseases th
        at cause dementia. The most common are Alzheimer’s disease,
         vascular dementia...</p>
      <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://www.healthdirect.gov.au/what-causes-dementia')"  label="Read More"/>
      <q-btn color="red" @click="open = false" label="Close" class="close"/>
            </div>
    </div>
    </q-modal>

    <q-modal v-model="open2" minimized class="rounded-border">
      <div class="modal">
      <h3>University of Queensland - "What causes dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>Dementia is caused by neurodegeneration – the damage and death of the
        brain’s neurons. Depending on the types of neurons and brain regions
        affected, the form of dementia differs. For instance, frontotemporal
        dementia mainly...</p>
        <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://qbi.uq.edu.au/dementia/dementia-causes-and-treatment')" label="Read More"/>
      <q-btn color="red" @click="open2 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>

    <q-modal v-model="open3" minimized class="rounded-border">
      <div class="modal">
      <h3>Dementia Australia - "Causes of dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>There are many different types of dementia and the cause varies with
        type. The information below provides details of some of the major research areas...</p>
        <div class="flex justify-end">
       <q-btn color="primary" @click="openURL('https://www.dementia.org.au/about-dementia/dementia-research/causes-of-dementia')" label="Read More"/>
      <q-btn color="red" @click="open3 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      open2: false,
      open3: false,
    };
  },
  methods: {
    openURL(url){
      window.open(url)
    }
  },
};
</script>
<style scoped>
h2, h5 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
.modal{
  padding: 5%;
}
.close {
  margin-left: 2%;
}
</style>
