<template>
  <div>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Related Articles - What is dementia?</h3>

  <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
                      <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>AgedCare - "Dementia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     @click="open = true">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>AIHW - "Dementia"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open2 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Dementia Australia - "What is dementia?"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open3 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>

  </q-page>
  <q-modal v-model="open" minimized class="rounded-border">
      <div class="modal">
      <h3>AgedCare - "Dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>Dementia is not a single, specific disease. It is an umbrella term for a syndrome...</p>
      <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://agedcare.health.gov.au/older-people-their-families-and-carers/dementia')" label="Read More"/>
      <q-btn color="red" @click="open = false" label="Close" class="close"/>
            </div>
    </div>
    </q-modal>

    <q-modal v-model="open2" minimized class="rounded-border">
      <div class="modal">
      <h3>Australian Insitute of Health and Welfare - "Dementia"</h3>
      <p><b>Article Overview</b></p>
      <p>Dementia is a term used to describe a group of similar conditions characterised by
        the gradual impairment of brain function...</p>
        <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://www.aihw.gov.au/reports-data/health-conditions-disability-deaths/dementia/overview')" label="Read More"/>
      <q-btn color="red" @click="open2 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>

    <q-modal v-model="open3" minimized class="rounded-border">
      <div class="modal">
      <h3>Dementia Australia - "What is dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>Dementia describes a collection of symptoms that are caused by disorders
        affecting the brain. It is not one specific disease...</p>
        <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://www.dementia.org.au/about-dementia/what-is-dementia')" label="Read More"/>
      <q-btn color="red" @click="open3 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>
  </div>
  
</template>

<script>

export default {
  data() {
    return {
      open: false,
      open2: false,
      open3: false,
    };
  },
  methods: {
    openURL(url){
      window.open(url)
    }
  },
};
</script>
<style scoped>
h2, h5 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
.modal{
  padding: 5%;
}
.close {
  margin-left: 2%;
}
</style>
