<template>
    <div>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Related Articles - Who gets dementia?</h3>

  <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
                      <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Your Brain Matters - "Who Gets Dementia?</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     @click="open = true">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Alzheimer's Research - "Who gets dementia?"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open2 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item class="bg-grey-1" style="height:155px">
          <q-item-side right>
              <q-icon name="assignment"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Dementia Australia - "Who gets dementia?"</b>
            </q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     @click="open3 = true">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>

  </q-page>
  <q-modal v-model="open" minimized class="rounded-border">
      <div class="modal">
      <h3>Your Brain Matters - "Who Gets Dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>Why do some people develop dementia, while others li
        ve to a ripe old age with their mind as sharp as a 20 y
        ear old?  We don’t yet know the answer to this question.  What we do know is that...</p>
      <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://yourbrainmatters.org.au/about-dementia/who-gets-dementia')" label="Read More"/>
      <q-btn color="red" @click="open = false" label="Close" class="close"/>
            </div>
    </div>
    </q-modal>

    <q-modal v-model="open2" minimized class="rounded-border">
      <div class="modal">
      <h3>Alzheimer's Research -"Who gets dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>In most cases, doctors don’t know why some people get the illnesses that
         cause dementia, but other people don’t. They are workin
         g hard to find out more about dementia...</p>
        <div class="flex justify-end">
      <q-btn color="primary" @click="openURL('https://agedcare.health.gov.au/older-people-their-families-and-carers/dementia')" label="Read More"/>
      <q-btn color="red" @click="open2 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>

    <q-modal v-model="open3" minimized class="rounded-border">
      <div class="modal">
      <h3>Dementia Australia - "Who gets dementia?"</h3>
      <p><b>Article Overview</b></p>
      <p>Most people with dementia are older, but it is important to remember that
         not all older people get dementia. It is not a normal part of ageing.</p>
        <div class="flex justify-end">
       <q-btn color="primary" @click="openURL('https://www.dementia.org.au/about-dementia/what-is-dementia')" label="Read More"/>
      <q-btn color="red" @click="open3 = false" label="Close" class="close"/>
      </div>
    </div>
    </q-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
      open2: false,
      open3: false,
    };
  },
  methods: {
    openURL(url){
      window.open(url)
    }
  },
};
</script>
<style scoped>
h2, h5 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
.modal{
  padding: 5%;
}
.close {
  margin-left: 2%;
}
</style>
