<template>
<q-page class="bg-grey-2">
  <h3 style="text-align: center">Sign In</h3>
  <q-page class="q-pa-md row items-start q-gutter-md justify-center bg-grey-2">
<q-card class="my-card bg-white">
  <figure>
      <img class="apple" src="https://dnamusiclabs.com/sites/default/files/apple_text_logo-01.png">
    </figure>
    <q-form
      class="q-gutter-md"
    >
    <!-- Email -->
      <q-input class="my-input"
      v-model="form.email"
        float-label="Your email *"
        @blur="$v.form.email.$touch"
        @keyup.enter="submit"
        :error="$v.form.email.$error"
      />
    <!-- password -->
      <q-input class="my-input"
        float-label="Your password *"
      v-model="form.password"
      @blur="$v.form.password.$touch"
      @keyup.enter="submit"
      :error="$v.form.password.$error"
      type="password"
      />

      <q-modal v-model="opened" minimized class="rounded-border model" no-backdrop-dismiss>
      <div class="modal bg-grey-3" style="text-align:center;">
        <figure>
        <center><img class="google2" style="margin-top: 15px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Apple_logo_grey.svg/1200px-Apple_logo_grey.svg.png"></center>
        </figure>
        <p style="margin-bottom:40px"></p>
        <p><b>"Carersconnect" Would Like to Access Your Apple Calendars</b></p>
        <small style="padding-top: 15px;">Get your calendar events synced. Carersconnect will have permission to add, edit and delete related events in your apple calendar</small>
        <br>
        <q-card-actions align="center">
          <q-btn style=margin-top:30px; color="blue-7" flat @click="opened = false" label="Don't Allow" class="close"/>
          <q-btn to='/services' style="padding-left: 1.5em;padding-right: 1.5em;margin-top:30px;" flat color="blue-7" label="Allow" class="close"/>
        </q-card-actions>
      </div>
      </q-modal>

      <q-card-actions align="end">
        <q-btn label="Sign In" type="submit" color="primary" @click="submitDelay"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </q-card-actions>
    </q-form>
</q-card>
  </q-page>
</q-page>
</template>

<script>
import AllowPermission from '../modals/Authorisation/AllowPermission';
import { required, email, password } from 'vuelidate/lib/validators';

export default {
  name: 'ProvidersList',
  data() {
    return {
      name: null,
      age: null,
      accept: false,
      opened: false,
      form: {
        email: '',
        password: '',
      },
         };
  },
  validations: {
    form: {
      email: { required, email },
      password: { required },
    },
  },
  components: {
    AllowPermission,
  },
  methods: {
    submitDelay() {
      setTimeout(this.submit(), 3000);
    },
    submit () {
      this.$v.form.$touch();

      if (this.$v.form.$error) {
        this.$q.notify('Please review fields again.');
        return;
      }
      this.opened = true;
    },
     onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first',
        });
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted',
        });
      }
    },
    onReset () {
      this.name = null;
      this.age = null;
      this.accept = false;
    },
  },
};

</script>

<style scoped>
@media screen and (min-width: 800px) and (max-width: 2880px) {
a {
  color: #007acc;
  text-decoration: none; /* no underline */
}
    .model {
        padding: 1em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  border-radius: 20px!important;
    }
}
.iconImg{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.modal {
  padding: 1em;
  padding-left: 1.3em;
  padding-right: 1.3em;
}
.my-input{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.my-card{
    width: 100%;
    margin-top: 1em;
    padding-top: 0.1em;
    max-width: 700px;
}
h3 {
    margin-top:0px;
    padding-top: 0.5em;
    margin-bottom: 0px;
  }
h4{
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 3%;
  height: 180px;
}
figure{
   width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
.google{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-16% 0;
}
.google2{
   display:block; /*remove inline-block spaces*/
   width:100px; /*make image streatch*/
   margin:0px 0;
}
.apple{
display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-6% 0;
}
.exchange{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-5% 0;
   padding-right: 5px;
   padding-left: 5px;
}
.office{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-15% 0;
}

</style>

