  
<template>
<q-page class="bg-grey-2">
  <q-card-title style="padding-bottom:0px;">
        <h3 class="q-ma-sm" style="text-align: center;">Choose Your Email Provider</h3>
      </q-card-title>
<ProvidersList></ProvidersList>
</q-page>
</template>

<script>
import ProvidersList from '../components/Authorisation/ProvidersList';

export default {
  name: 'Authorise',
  data() {
    return {
      expanded: false,
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
    };
  },
  components: {
    ProvidersList,
  },
};
</script>

<style scoped>
.my-card{
  width: 100%;
  max-width: 350px;
}
h3{
  margin-bottom: 0px;
}
</style>

