<template>
<q-page class="bg-grey-2">
  <h3 style="text-align: center">Sign In</h3>
  <q-page class="q-pa-md row items-start q-gutter-md justify-center bg-grey-2">
<q-card class="my-card bg-white">
  <figure>
      <img class="office" src="https://images.techhive.com/images/article/2014/05/office-365-logo_gallery-100266091-large.jpg">
    </figure>
    <q-form
      class="q-gutter-md"
    >
    <!-- Email -->
      <q-input class="my-input"
      v-model="form.email"
        float-label="Your email *"
        @blur="$v.form.email.$touch"
        @keyup.enter="submit"
        :error="$v.form.email.$error"
      />
    <!-- password -->
      <q-input class="my-input"
        float-label="Your password *"
      v-model="form.password"
      @blur="$v.form.password.$touch"
      @keyup.enter="submit"
      :error="$v.form.password.$error"
      type="password"
      />

      <q-modal v-model="opened" minimized class="rounded-border" no-backdrop-dismiss>
      <div class="modal">
        <figure>
        <img class="office2" src="https://images.techhive.com/images/article/2014/05/office-365-logo_gallery-100266091-large.jpg">
        </figure>
        <h4 style="text-align: left; margin:0px;padding-bottom:0px;"><b>Permissions requested</b></h4>
        <h4 style='text-align: left; margin:0px;padding-top: 0px;'><b>Accept for your organisation</b></h4>

        <div class="row" style="padding-top: 5px;">
        <img class="iconImg" src="https://cdn.quasar.dev/logo/512/quasar-logo.png">
        <p style="margin-bottom:0px"><b>Carersconnect</b></p>
        </div>
        <p style="margin-left: 2.5em; margin-top:0px;color:#007acc">App Info</p>

        <p style="margin:0px;margin-top: 1.5em">This app would like to: </p>
        <br>
        <p style="padding:0px;margin:0px;font-size: 14.5px;">&or; Add, edit and delete calendar events</p>
        <p></p>
        <small><b>If you accpet, this app will get access to the specified resources for the user in your organisation.</b> No one else will be prompted to review these permissions.</small>
        <small> Accepting these permissions means that you allow this app to use your data as specified in their terms of service and privacy statement.</small>
        <q-card-actions align="end">
          <q-btn unelevated style="margin-top:30px; padding-left:2em;padding-right:2em;" color="grey-6" @click="opened = false" label="Cancel" class="close"/>
          <q-btn unelevated to='/services' style="padding-left: 2em;padding-right: 2em;margin-top:30px;" color="blue-8" label="Accept" class="close"/>
        </q-card-actions>
      </div>
      </q-modal>

      <q-card-actions align="end">
        <q-btn label="Sign In" type="submit" color="primary" @click="submitDelay"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </q-card-actions>
    </q-form>
</q-card>
  </q-page>
</q-page>
</template>

<script>
import AllowPermission from '../modals/Authorisation/AllowPermission';
import { required, email, password } from 'vuelidate/lib/validators';

export default {
  name: 'ProvidersList',
  data() {
    return {
      name: null,
      age: null,
      accept: false,
      opened: false,
      form: {
        email: '',
        password: '',
      },
         };
  },
  validations: {
    form: {
      email: { required, email },
      password: { required },
    },
  },
  components: {
    AllowPermission,
  },
  methods: {
    submitDelay() {
      setTimeout(this.submit(), 3000);
    },
    submit () {
      this.$v.form.$touch();

      if (this.$v.form.$error) {
        this.$q.notify('Please review fields again.');
        return;
      }
      this.opened = true;
    },
     onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first',
        });
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted',
        });
      }
    },
    onReset () {
      this.name = null;
      this.age = null;
      this.accept = false;
    },
  },
};

</script>

<style scoped>
@media screen and (min-width: 800px) and (max-width: 2880px) {
a {
  color: #007acc;
  text-decoration: none; /* no underline */
}
    .model {
        padding: 1em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  max-width: 35%;
    }
}
.iconImg{
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.modal {
  padding: 1em;
  padding-left: 1.3em;
  padding-right: 1.3em;
}
.my-input{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.my-card{
    width: 100%;
    margin-top: 1em;
    padding-top: 0.1em;
    max-width: 700px;
}
h3 {
    margin-top:0px;
    padding-top: 0.5em;
    margin-bottom: 0px;
  }
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 3%;
  height: 180px;
}
figure{
   width:100%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}
.google{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-16% 0;
}
.google2{
   display:block; /*remove inline-block spaces*/
   width:100px; /*make image streatch*/
   margin:-15px 0;
}
.apple{
display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-6% 0;
}
.exchange{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-5% 0;
   margin-bottom: -10%;
   padding-right: 5px;
   padding-left: 5px;
}
.office{
    display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
   margin:-17% 0%;
}
.office2{
    display:block; /*remove inline-block spaces*/
   width:70%; /*make image streatch*/
   margin:-15% -5%;
}

</style>

