<template>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Help & Information</h3>
    <!-- Quenstions about dementia Card-
  <q-btn class="my-btn text-black" type="a" to='/questions' color="grey-3">
    <q-icon name="fas fa-question" style="font-size: 6vw" />
    <h3>Questions About Dementia</h3>
  </q-btn>
  -- Slack Join Card -
  <q-btn class="my-btn text-black" type="a" href="https://app.slack.com/client/TP2PQPR8C/CP383RNAZ" color="grey-3">
    <q-icon name="fas fa-comment" style="font-size: 6vw" />
    <h3>Social Media Chat Room</h3>
  </q-btn>
  - Helplines Card --
  <q-btn class="my-btn text-black" type="a" to='/helplines' color="grey-3">
    <q-icon name="fas fa-phone" style="font-size: 6vw" />
    <h3>Helplines</h3>
  </q-btn>
  --DO a list with list breaks and add buttons and symbols
    for the community section Headlines and sublines!-->
    <q-list padding >
      <div>
        <!-- Questions -->
        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="live_help"
                      color="primary"
                      size="60px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Questions About Dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>Get info and articles on dementia here!</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     to='/questions'>
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <!-- Slack -->
        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="chat"
                      color="primary"
                      size="60px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Connect with other Carers?</b>
            </q-item-tile>
            <q-item-tile sublabel>Chat, learn and share information here!</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     @click="openURL('https://app.slack.com/client/TP2PQPR8C/CP383RNAZ')">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <!-- helplines -->
        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="call"
                      color="primary"
                      size="60px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Want Info from a Pro?</b>
            </q-item-tile>
            <q-item-tile sublabel>Access to professional helplines here!</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     to='/helplines'>
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />
      </div>
    </q-list>

  </q-page>
</template>

<script>
export default {
  name: 'Community',
   methods: {
    openURL(url){
      window.open(url)
    }
  },
};
</script>

<style scoped>

h3 {
    margin-left: 4vw;
    margin-top: 0%;
  }
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 3%;
  height: 180px;
}
</style>
