<template>
  <q-page class="q-pa-lg bg-white">
<h2>Helplines</h2>
    <!-- Show spinner while loading data -->
    <div class="flex flex-center q-mt-xl" style="height: 100%;" v-if="loading">
      <q-spinner size="40px"/>
    </div>
    <!-- search bar -->
    <q-search class="pm-xy-lg" v-model="search" color="black" clearable
      @input="currentQuery(search)"/>

      <!-- For Loop Generating Service Cards -->
      <q-card class="bg-white q-mb-md" style="width: 100%;"
        v-for="(helpline, key) in filteredHotlines" :key="key"
        @click.native="openHelpline(helpline)">
        <!-- Populate Service Data in Cards -->
        <!--<q-card-media :style="`background-image: url(${service.thumbnail});`"/>-->
        <q-card-title>
        {{helpline.name}}
          <span slot="subtitle">
              {{helpline.phone}} <!--{{getRatingTag(service)}}-->
          </span>
        </q-card-title>
      </q-card>
      <!--<ServiceInformation ref="serviceInformation"/>-->
      <HelplineInformation ref="helplineInformation"/>
  </q-page>
</template>

<script>
import { chain } from 'lodash';
import HelplineInformation from '../modals/HelplineInformation/HelplineInformation.vue';

export default {
  name: 'Helplines',
  data() {
    return {
      helplines: {},
      search: '',
      loading: true,
    };
  },
  /**
   * When the template has been mounted, bind to Firestore...
   */
  mounted() {
    this.bindFirestore();
  },
  methods: {
    /**
     * Bind data variables to a Firestore collection
     */
    bindFirestore() {
      const that = this;
      this.$binding('helplines', this.$firebase.firestore().collection('helplines'))
        .then(() => {
          that.loading = false;
        });
    },
    currentQuery() {

    },
    /**
     * Gets tag for rating
     * If no rating exists, returns '' tag
     */
    getRatingTag(service) {
      if (service.rating) {
        return ` - ★ ${service.rating}`;
      }
      return '';
    },
    openHelpline(helpline) {
      this.$refs.helplineInformation.showModal(helpline);
    },
  },
  /**
   * Filters array of services using string provided
   * by q-search bar using search v-model
   */
  computed: {
    filteredHotlines() {
      if (this.search == null) {
        return this.helplines;
      }
      return chain(this.helplines)
        .filter(helpline => helpline.name
          .toLowerCase()
          .includes(this.search.toLowerCase()))
        .value();
    },
  },
  components: {
    HelplineInformation,
  },
};
</script>

<style scoped>
h2 {
  margin-top: 0%;
  margin-bottom: 1%;
}
h3{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 3%;
}
</style>
