<template>
  <!-- Grey page background -->
  <q-page >
    <q-card> 
        
        <PatientBookingList />

    </q-card>
    <AddBooking v-model="opened"></AddBooking>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn
        round
        color="red"
        icon="add"
        size="lg"
        @click="opened = true;"
      />
    </q-page-sticky>
  </q-page>
</template>

<script>
import PatientBookingList from '../components/PatientBookingList';
import PatientBookingListMonthly from '../components/PatientBookingListMonthly';
import AddBooking from '../modals/AddBooking/AddBooking';
import BookingInformation from '../modals/BookingInformation/BookingInformation';

export default {
  name: 'Home',
  data() {
    return {
      opened: false,
      viewRender: '2',
    };
  },
  components: {
    PatientBookingList,
    PatientBookingListMonthly,
    AddBooking,
    BookingInformation,
  },
  methods: {
    changeViewDaily(viewRender) {
      this.viewRender = '2';
      console.log('Daily');
      return viewRender;
    },
    changeViewWeekly(viewRender) {
      this.viewRender = '1';
      return viewRender;
    },
    changeViewMonthly(viewRender) {
      this.viewRender = '3';
      return viewRender;
    },
  },
};
</script>

<style>
.btn {
  margin: 1em;
}
</style>
