<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page>
        <q-card class="fixed-center login-card bg-white">
          <div class="q-ma-lg">
              <h2 class="col text-center">Sign In</h2>
            <!-- Show spinner while loading data -->
            <div class="flex flex-center" v-if="loading">
              <q-spinner size="40px"/>
            </div>
            <div v-else>
             <div class="column items-center">
              <div class="col" style="width: 70%;">
                 <q-input class="form-email" v-model="form.email" float-label="Username"
                   placeholder="Email" />
              </div>

               <!-- LoginWithUsername -->
               <div class="col" style="width:70%">
                 <q-input @keyup.enter="loginWithUsername()" class="form-password"
                   v-model="form.password" type="password"
                   float-label="Password" />
               </div>
              </div>
             </div>

             <!-- Login button -->
             <div class="row justify-center q-mt-xl">
               <q-btn class="form-submit"
               outline @click="loginWithUsername()" color="grey-8"
               :disable="loading">Login</q-btn>
             </div>
            <!-- -->
             <div class="q-mt-lg">
               <TextHR class="q-mb-md" text="OR" />
             </div>
            <!-- Register -->
            <div class="row justify-center q-mt-lg">
              <q-btn to="/register/carer"
                     class="text-white facebook-blue"
              :disable="loading">Register</q-btn>
            </div>

              <!-- Registration link for service -->
              <!-- <div class="q-mt-md text-center" style="width: 100%;">
              <router-link to="/register/service">register as service</router-link>
            </div> -->
            <!-- -->
          </div>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import firebase from 'firebase/app';
import TextHR from '../components/TextHR/TextHR';

export default {
  name: 'Login',

  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      loading: false,
    };
  },
  components: {
    TextHR,
  },
  methods: {
    loginWithFacebook() {
      this.loading = true;
      const provider = new firebase.auth.FacebookAuthProvider();
      this.$firebase.auth().signInWithPopup(provider).then(() => {
        this.onLogin();
      });
    },
    loginWithUsername() {
      const that = this;
      this.loading = true;
      this.$firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(() => this.login())
        .catch((error) => {
          this.loading = false;
          that.form.password = '';
          this.$q.notify(error);
        });
    },

    /** user is logged in at this point, so no need to check if they are registered,
    * as they would not have been able to log in
    * move to bookings page
    */
    async login() {
      const userID = this.$firebase.auth().currentUser.uid;
      await this.$store.dispatch('user/loadUser', this.$firebase.firestore().collection('users').doc(userID));
      console.log('user loaded', this.$store.state.user.data);
      this.$router.push({ path: '/' });
    },

    /**
     * When login has passed through auth, check to see
     * if they have the registered flag, if not, send them to sign up
    async onLogin() {
      const userID = this.$firebase.auth().currentUser.uid;
      const that = this;
      // Checks to see whether users/:uid/registered has been set
      // to true - if not, redirect to signup based on role
      const docRef = this.$firebase.firestore().collection('users').doc(userID);
      console.log('loading user');
      console.log(this.$store.state.user.data);
      await this.$store.dispatch('user/loadUser', docRef);
      console.log('user loaded', this.$store.state.user.data);
      *
      if (this.$store.state.user.data.registered) {
        that.routeRegistered(this.$store.state.user.data);
      } else {
        that.routeNotRegistered(this.$store.state.user.data);
      }
    },
    /**
    * Checks if user is register or not based on conditional routes to
    * different paths
    *
    routeNotRegistered(user) {
      if (user.role === 'carer') {
        this.$router.push({ path: '/create/user' });
      } else if (user.role === 'service') {
        this.$router.push({ path: '/create/service' });
      }
    },
    routeRegistered(user) {
      if (user.role === 'carer') {
        this.$router.push({ path: '/' });
      } else if (user.role === 'service') {
        this.$router.push({ path: '/servicehome' });
      }
    },
    */
  },
};
</script>

<style scoped>
  .q-layout-page {
    background-image: url('~assets/login-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .login-card {
    width: 70vw;

  }

  .facebook-blue {
    background-color: #4267b2;
  }

  .q-btn {
    width: 70%;
  }

  .q-card {
    border-radius: 10px!important;
  }
</style>
