<template>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Related Questions - What is Dementia?</h3>
     <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
                      <q-icon name="fas fa-question"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>What is dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>Info on what dementia is and how it affects people!</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     to="/article1">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="fas fa-question"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>Who gets dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>Who is the most likely to get dementia and why?</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     to="/article2" >
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />
         <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="fas fa-question"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>What causes dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>What are the leading causes behind dementia today?</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     to="/article3">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>
  </q-page>
</template>

<script>
export default {
  name: 'Questions',
};
</script>
<style scoped>
h2 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
</style>
