<template>
  <q-page class="bg-grey-2">
    <q-item-separator />
    <h3>Dementia Questions</h3>
    <q-list padding >
      <div>
        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
                      <q-icon name="fas fa-question"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>What is dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>Info on what dementia is and how it affects people!</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     to="/questionsbranch1">
              </q-btn>
          </q-item-side>
        </q-item>

        <q-item-separator />

        <q-item class="bg-grey-1" style="height:185px">
          <q-item-side right>
              <q-icon name="fas fa-question"
                      color="primary"
                      size="50px">
              </q-icon>
          </q-item-side>
          <q-item-main>
            <q-item-tile label>
              <b>How can I support someone with dementia?</b>
            </q-item-tile>
            <q-item-tile sublabel>Whats the best way to support
               patients with dementia?</q-item-tile>
          </q-item-main>
          <q-item-side right>
              <q-btn icon="forward"
                     round
                     color="green"
                     size="lg"
                     type="a"
                     to="/article4">
              </q-btn>
          </q-item-side>
        </q-item>
        <q-item-separator />

        <q-item-separator />
      </div>
    </q-list>
  </q-page>
</template>

<script>
export default {
  name: 'Questions',
};
</script>
<style scoped>
h2 {
  margin-top: 0%;
}
h4{
  margin-left: 4vw;
}
.my-btn {
  width: 100%;
  margin-bottom: 2em;
  padding: 1%;
}
</style>
