<template>
  <!-- Grey page background -->
  <q-page class="bg-grey-3">

    <!-- Show spinner while loading data -->
    <div class="flex flex-center q-mt-xl" style="height: 100%;" v-if="loading">
      <q-spinner size="40px"/>
    </div>

    <q-card class="bg-white q-pa-lg">

      <!-- search bar -->
      <q-search class="pm-xy-lg" v-model="search" color="black" clearable
        @input="currentQuery(search)"/>

      <!-- For Loop Generating Service Cards -->
      <q-card class="bg-white q-mb-md" style="width: 100%;"
        v-for="(service, key) in filteredServices" :key="key">
        <!-- Populate Service Data in Cards -->
        <q-card-media @click.native="$refs.serviceInformation.showModal(service)" :style="`background-image: url(${service.thumbnail});`"/>
        <q-card-title @click.native="$refs.serviceInformation.showModal(service)"> 
        {{service.name}}
          <span slot="subtitle">
              {{service.type}} {{getRatingTag(service)}}
          </span>
        <div slot="right" class="row items-center">
      <q-toggle round :value = "favBools(service)" icon="star" :color="toggleColor(service)" name="star" keep-color @input="toggleFav(service)" />
        </div>
        </q-card-title>
      </q-card>
      <ServiceInformation ref="serviceInformation"/>
      
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn
        round
        :color="btnColor"
        icon="star"
        size="lg"
        @click="showFav()"
      />
    </q-page-sticky>
    
    </q-card>
  </q-page>
</template>

<script>
import { chain } from 'lodash';
import ServiceInformation from '../modals/ServiceInformation/ServiceInformation.vue';
export default {
  name: 'Services',
  data() {
    return {
      services: {},
      userFavs: [],
      search: '',
      loading: true,
      btnColor: 'grey',
      favValue: false,
    };
  },
  /**
   * When the template has been mounted, bind to Firestore...
   */
  mounted() {
    this.bindFirestore();
    this.favArray();
  },
  methods: {
    async favArray() {
      //if the fav collection exists on user let that equal userfavs, if not make a new empty collection called favorites
      let ref = this.$firebase.firestore().collection('users').doc(this.$firebase.auth().currentUser.uid);
      let size = 0;
      await ref.collection('favorites').get().then(querey => size = querey.size);
      if(size > 0) {
        await this.$binding('userFavs', this.$firebase.firestore().collection('users').doc(this.$firebase.auth().currentUser.uid).collection('favorites'));
      }
    },
    /**
     * Bind data variables to a Firestore collection
     */
    bindFirestore() {
      const that = this;
      this.$binding('services', this.$firebase.firestore().collection('services'))
        .then(() => {
          that.loading = false;
        });
    },
    
    /**
     * Gets tag for rating
     * If no rating exists, returns '' tag
     */
    getRatingTag(service) {
      if (service.rating) {
        return ` - ★ ${service.rating}`;
      }
      return '';
    },

    toggleColor(service) {
      let bool = chain(this.userFavs)
          .filter(fav => fav['.key'] === service['.key'])
          .value();
      if (bool.length > 0) {
        return bool[0].bool ? 'yellow' : 'grey';
      }
      return 'grey';
    },

    async toggleFav(service) {
        let filterFavs = this.userFavs.filter(fav => fav['.key'] === service['.key']);
        if(filterFavs.length > 0) {
        if (filterFavs[0].bool === true)
        {
          this.$firebase.firestore().collection('users')
            .doc(this.$firebase.auth().currentUser.uid)
            .collection('favorites')
            .doc(service['.key'])
            .set({ bool : false });
          this.favArray();
        }
        else {
          this.$firebase.firestore().collection('users')
            .doc(this.$firebase.auth().currentUser.uid)
            .collection('favorites')
            .doc(service['.key'])
            .set({ bool : true });
          this.favArray();
        }
        }else {
           this.$firebase.firestore().collection('users')
            .doc(this.$firebase.auth().currentUser.uid)
            .collection('favorites')
            .doc(service['.key'])
            .set({ bool : true });
          this.favArray();
        }
        this.$firebase.firestore()
        .collection('services')
        .doc(service['.key'])
        .update({ favorite: service.favorite });
    },
    
    showFav() {
      if (this.btnColor === 'grey') {
      this.favValue = true;
      this.btnColor = 'yellow';
      } else {
        this.favValue = false;
        this.btnColor = 'grey';
      }
    },
    favBools(service){
      //let bool = this.userFavs.filter(fav => fav['.key'] === service['.key'])[0].bool;
      let bool = chain(this.userFavs)
          .filter(fav => fav['.key'] === service['.key'])
          .value();
      if (bool.length > 0) {
        return bool[0].bool;
      }
      return false;
    },

  },
  /**
   * Filters array of services using string provided
   * by q-search bar using search v-model
   */
  computed: {
    filteredServices() {
      if (this.favValue === false) {
          if (this.search == null) {
            return this.services;
          }
          return chain(this.services)
          .filter(service => service.name
          .toLowerCase()
          .includes(this.search.toLowerCase()))
          .value();
       } 
          if (this.search == null) {       
            return this.services;
          }

            const something = chain(this.userFavs)
            .filter(fav => fav.bool)
            .filter(fav => fav = true)
            .value();
            const some = chain(this.services)
            .filter(service => something.find(fun => fun['.key'] === service['.key']))
            .value();
            return chain(some)
          .filter(service => service.name
          .toLowerCase()
          .includes(this.search.toLowerCase()))
          .value();
    },
    
  },
  components: {
    ServiceInformation,
  },
};
</script>

<style scoped>
.q-card-media {
    height: 200px!important;
    background-size: cover;
    background-position: center center;
}
</style>
