<template>
  <q-page class="bg-grey-3 q-pa-lg">
    <!-- Profile Card -->
    <q-card class="bg-white">
      <q-card-title>
        <h2 class="q-ma-sm">Service Profile</h2>
      </q-card-title>
      <q-card-main v-if="loading" class="flex flex-center">
        <q-spinner size="40px"></q-spinner>
      </q-card-main>
      <q-card-main v-else>
        <!-- Service/Personal Information Section -->
        <q-field label="Name">
          <q-input @Keyup="saveProfile" v-model="profile.name" />
        </q-field>
        <q-field label="Email">
          <q-input @keyup="saveProfile" v-model="profile.contact.email" />
        </q-field>
        <!-- -->
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>

export default {
  name: 'ServiceProfile',
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      loading: true,
      profile: {
        name: '',
        contact: {
          email: '',
        },
      },
    };
  },
  methods: {
    /**
     * Bind the firestore collections to local variables
     * This function currently binds 'profile'
     */
    bindFirestore() {
      const that = this;

      const userID = this.$firebase.auth().currentUser.uid;
      this.$binding('profile', this.$firebase.firestore()
        .collection('users')
        .doc(userID))
        .then(() => {
          that.loading = false;
        });
    },
    /**
     * Saves profile information - callback from UI
     */
    saveProfile() {
      this.$firebase.firestore()
        .collection('users')
        .doc(this.$firebase.auth().currentUser.uid)
        .set(this.profile);
    },
  },
};
</script>
