<template>
  <div>
  <!-- Emergency Contact Card -->
  <q-card class="bg-white q-pa-sm q-mt-md">
      <q-collapsible icon="ring_volume" label="Emergency Contact">
        <div v-for="row in emergency" :key="row['.key']">
          <q-card-main class="text-faded">
            Full Name of Contact: <b>{{ row.name }}</b><br>
            Phone Number: <b>{{ row.contact }}</b><br>
            Relationship: <b>{{ row.relation }}</b><br>
            Address: <b>{{ row.address }}</b><br>
          </q-card-main>
          <q-btn class="btn q-pa-md" label="remove" color="red" flat
            @click="removeEmergency(row['.key'])"/>
        </div>
        <div style="width: 100%">
          <q-card-actions align="end">
            <q-btn v-if="emergency == ''" flat color="primary" label="Add"
            @click="$refs.addEditEmergency.showModal()"/>
          </q-card-actions>
        </div>
      </q-collapsible>
      <!-- -->
  </q-card>
  <!-- Modals -->
  <AddEditEmergency ref="addEditEmergency" :patientID="$route.params.patientID"/>
  </div>
</template>

<script>
import AddEditEmergency from '../../modals/AddEditEmergency/AddEditEmergency.vue';
/**
 * Usage:
 * To add or remove a emergency contacts
*/
export default {
  name: 'Emergency',
  props: {
    patientID: '',
  },
  components: {
    AddEditEmergency,
  },
  mounted() {
    this.bindFirestore();
  },
  data() {
    return {
      loading: true,
      emergency: {
        name: '',
        contact: '',
        relation: '',
        address: '',
      },
      // When we are saving...
      saving: false,
    };
  },
  methods: {
    /**
     * Binds firestore to local variable.
     * Binds:
     *  - Currently logged in user to this.userProfile
     */
    bindFirestore() {
      const that = this;

      this.$binding('emergency', this.$firebase.firestore()
        .collection('patients')
        .doc(`${this.patientID}`)
        .collection('emergency'))
        .then(() => {
          // Once loaded the data, set the spinner off
          that.loading = false;
        });
    },
    removeEmergency(key) {
      this.deleting = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('emergency')
        .doc(key)
        .delete()
        .then(() => {
          this.deleting = false;
        });
    },
  },
};
</script>
