<template>
  <div class="q-pa-lg">
    <div style="width:100%;">
      <div class="row">
      <q-field class="q-pb-md" style="width:50%">
        <q-select
          float-label="Patient"
          v-model="booking.patientID"
          :options="patients"
        />
      </q-field>
            <q-field class="q-pb-md" style="width:50%;">
        <q-select
          float-label="Service"
          v-model="booking.serviceID"
          :options="services"
          @input="currentQuery(serviceSearch)"
        />
        </q-field>
    </div>
    
                <!-- search bar -->
      <q-search v-model="search" float-label="Filter by Name" color="black" clearable
        @input="currentQuery(search)"/>
        <q-btn 
        label="Reset"
        color = "secondary"
          @click="reloadPage"
          style="width:100%;margin-top: 1em;margin-bottom:0.5em;"
        />
          <div
            v-for="(value, key) in filteredServices"
            :key="key">
            <q-card
              class="q-mt-md text-white" style="width: 100%"
              color="primary"
              @click.native="openBookingModal(value)"
            >
              <div class="cont">
                <p id="td" class="booking"><b>{{formatDateTime(value.start.dateTime)}} - {{value.summary}}</b> | {{serviceNames[value.serviceID]}} - {{patientNames[value.patientID]}}</p>
              </div>

            </q-card>
          </div>

      </div>
      <BookingInformation ref="bookingModal"/>
    </div>
</template>

<script>
import moment from 'moment';
import BookingInformation from '../modals/BookingInformation/BookingInformation';
import { chain } from 'lodash';
import axios from 'axios';
import forOwn from 'lodash/forOwn';

export default {
  name: 'PatientBookingList',
  data() {
    return {
      bookings: {},
      loading: true,
      saving: false,
      selectedBooking: '',
      serviceNames: {},
      patientNames: {},
      occupy: false,
      search: '',
      serviceSearch: '',
      patientSearch: '',
      services: [],
      patients: [],
      booking: {
        summary: '',
        serviceID: '',
        patientID: '',
        start: { dateTime: '' },
        end: { dateTime: '' },
        description: '',
        id: '',
      },
    };
  },
  mounted() {
    this.loading = true;
    const patientID = Object.keys(this.$store.state.user.patients);
    this.$binding('bookings', this.$firebase.firestore()
      .collection('bookingevents')
      .where('patientID', 'in', patientID))

      .then(() => {
        // Once loaded the data, set the spinner off
        this.loading = false;
      });
          this.fetchPatientNames();
    const promiseA = this.fetchServiceNames();
    Promise.all([promiseA]).then(() => {
      this.loading = false;
    });
    this.bindFirestore();
  },
  methods: {
    /**
     * Bind all firestore data
     */
    bindFirestore() {
      this.loading = true;
      const patientID = Object.keys(this.$store.state.user.patients);
      this.$binding('bookings', this.$firebase.firestore()
        .collection('bookingevents')
        .where('patientID', 'in', patientID))

        .then(() => {
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.serviceNames,
              this.bookings[id].serviceID,
              await this.getServiceName(this.bookings[id].serviceID),
            );
          });
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.patientNames,
              this.bookings[id].patientID,
              await this.getPatientName(this.bookings[id].patientID),
            );
          });
          this.loading = false;
        });

        // Services bind
              const that = this;
      this.$binding('services', this.$firebase.firestore().collection('services'))
        .then(() => {
          that.loading = false;
        });
    },
    currentQuery() {

    },
    reloadPage() {
    window.location.reload();
  },
    /**
     * getServiceName
     * serviceID: ID of the service
     */
    async getServiceName(serviceID) {
      const dbRef = this.$firebase.firestore().collection('services').doc(serviceID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * getpatienteName
     */
    async getPatientName(patientID) {
      const dbRef = this.$firebase.firestore().collection('patients').doc(patientID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * Formats datetime
     * @param date
     * @return {string}
     */
    formatDateTime(date) {
      this.occupy = true;
      return moment(date).format('h:mma');
    },

    openBookingModal(bookingData, serviceName) {
      this.$refs.bookingModal.show(bookingData, serviceName);
    },
        async fetchServiceNames() {
      const snapshot = await this.$firebase.firestore()
        .collection('services')
        .get();
      this.services = snapshot.docs.map(doc => ({
        value: doc.id,
        label: doc.data().name,
      }));
    },
        fetchPatientNames() {
      forOwn(this.$store.state.user.patients, (value, key) => {
        this.patients.push({
          value: key,
          label: value.name,
        });
      });
    },
  },
  components: {
    BookingInformation,
  },
  computed: {
    filteredServices() {
        if (this.search == null && this.serviceSearch == null && this.booking.patientID == null) {
          return this.bookings;
        }
          const sortList = chain(this.bookings)
          .filter(value => value.summary
            .toLowerCase()
            .includes(this.search.toLowerCase()))
          .value();
                    const sortList2 = chain(sortList)
            .filter(value => value.patientID
              .toLowerCase()
              .includes(this.booking.patientID.toLowerCase()))
              .value();
              return chain(sortList2)
            .filter(value => value.serviceID
              .toLowerCase()
              .includes(this.booking.serviceID.toLowerCase()))
              .value();
    },
  },
};
</script>

<style scoped>
  .q-item {
    padding-left: 0px;
  }

  .q-timeline {
    padding-top: 0px;
    margin-top: 0px;
  }

  .q-card {
    border-radius: 0px;
  }

  .cont {
    padding: 1em 1.5em 0.3em 1em;
  }

</style>
