/* eslint-disable */
<template>
  <div>
    <calendar
    :event-array= "bookings"
    :allow-editing="true"
    />
    </div>
</template>
<style src="@quasar/quasar-ui-qcalendar/dist/index.css"></style>
<script>
import moment from 'moment';
import BookingInformation from '../modals/BookingInformation/BookingInformation';
import { Calendar } from './quasar-calendar';

export default {
  name: 'PatientBookingList',
  data() {
    return {
      bookings: [],
      loading: false,
      selectedBooking: '',
      serviceNames: {},
      patientNames: {},
      occupy: false,
      selectedDate: '',
    };
  },
  mounted() {
    this.loading = true;
    
  this.bookingArray = this.$firebase.firestore().collection('bookingevents');
  console.log(this.bookingArray);

    const patientID = Object.keys(this.$store.state.user.patients);
    this.$binding('bookings', this.$firebase.firestore()
      .collection('bookingevents')
      .where('patientID', 'in', patientID))

      
      // .orderby('patientID')
      // .orderby('startTime'))

      .then(() => {
        // Once loaded the data, set the spinner off
    console.log(this.bookings);

        this.loading = false;
      });
    //this.bindFirestore();
  },
  
  methods: {
    /**
     * Bind all firestore data
     */

    edit() {
console.log("test");
    },

    bindFirestore() {
      this.loading = true;
      const patientID = Object.keys(this.$store.state.user.patients);
      this.$binding('bookings', this.$firebase.firestore()
        .collection('bookingevents')
        .where('patientID', 'in', patientID))

        // .orderby('patientID')
        // .orderby('startTime'))

        .then(() => {
          });
          
          this.loading = false;
    },
    /**
     * getServiceName
     * serviceID: ID of the service
     */
    async getServiceName(serviceID) {
      const dbRef = this.$firebase.firestore().collection('services').doc(serviceID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * getpatienteName
     */
    async getPatientName(patientID) {
      const dbRef = this.$firebase.firestore().collection('patients').doc(patientID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * Formats datetime
     * @param date
     * @return {string}
     */
    formatDateTime(date) {
      this.occupy = true;
      return moment(date).format('h:mma');
    },

    openBookingModal(bookingData, serviceName) {
      this.$refs.bookingModal.show(bookingData, serviceName);
    },
  },
  components: {
    BookingInformation,
    Calendar,
  },
};
</script>

<style scoped>
  .q-item {
    padding-left: 0px;
  }

  .q-timeline {
    padding-top: 0px;
    margin-top: 0px;
  }

  .q-card {
    border-radius: 7px;
  }

  .cont {
    padding: 1em 1.5em 0.3em 1em;
  }

  .calendar-container {
    position: relative;
  }

  .my-event {
    width: 100%;
    position: absolute;
    font-size: 12px;
  }

  .full-width {
    left: 0;
    width: 100%;
  }

  .left-side {
    left: 0;
    width: 49.75%;
  }

  .right-side {
    left: 50.25%;
    width: 49.75%;
  }
</style>
