<template>
  <div class="q-pa-lg">
    <div style="width:100%;">
      <div class="row">
        <div class="col-12">
          <h4 v-if="occupy">Bookings</h4>
          <div v-else>
            <h4>Add Bookings...</h4>
          </div>
          <div
            v-for="(value, key) in bookings"
            :key="key">
            <q-card
              class="q-mt-md text-white" style="width: 100%"
              color="blue"
              @click.native="openBookingModal(value)"
            >
              <div class="cont">
                <b><p id="td">{{formatDateTime(value.startTime)}} - {{value.title}}</p></b>
                <p>{{serviceNames[value.serviceID]}} - {{patientNames[value.patientID]}}</p>
              </div>

            </q-card>
          </div>
          </div>
        </div>
      </div>
      <BookingInformation ref="bookingModal"/>
    </div>
</template>

<script>
import moment from 'moment';
import BookingInformation from '../modals/BookingInformation/BookingInformation';

export default {
  name: 'PatientBookingList',
  data() {
    return {
      bookings: {},
      loading: false,
      selectedBooking: '',
      serviceNames: {},
      patientNames: {},
      occupy: false,
    };
  },
  mounted() {
    this.loading = true;
    const patientID = Object.keys(this.$store.state.user.patients);
    this.$binding('bookings', this.$firebase.firestore()
      .collection('bookings')
      .where('patientID', 'in', patientID))

      // .orderby('patientID')
      // .orderby('startTime'))

      .then(() => {
        // Once loaded the data, set the spinner off
        this.loading = false;
      });
    this.bindFirestore();
  },
  methods: {
    /**
     * Bind all firestore data
     */
    bindFirestore() {
      this.loading = true;
      const patientID = Object.keys(this.$store.state.user.patients);
      this.$binding('bookings', this.$firebase.firestore()
        .collection('bookings')
        .where('patientID', 'in', patientID))

        // .orderby('patientID')
        // .orderby('startTime'))

        .then(() => {
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.serviceNames,
              this.bookings[id].serviceID,
              await this.getServiceName(this.bookings[id].serviceID),
            );
          });
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.patientNames,
              this.bookings[id].patientID,
              await this.getPatientName(this.bookings[id].patientID),
            );
          });
          this.loading = false;
        });
    },
    /**
     * getServiceName
     * serviceID: ID of the service
     */
    async getServiceName(serviceID) {
      const dbRef = this.$firebase.firestore().collection('services').doc(serviceID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * getpatienteName
     */
    async getPatientName(patientID) {
      const dbRef = this.$firebase.firestore().collection('patients').doc(patientID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * Formats datetime
     * @param date
     * @return {string}
     */
    formatDateTime(date) {
      this.occupy = true;
      return moment(date).format('h:mma');
    },

    openBookingModal(bookingData, serviceName) {
      this.$refs.bookingModal.show(bookingData, serviceName);
    },
  },
  components: {
    BookingInformation,
  },
};
</script>

<style scoped>
  .q-item {
    padding-left: 0px;
  }

  .q-timeline {
    padding-top: 0px;
    margin-top: 0px;
  }

  .q-card {
    border-radius: 7px;
  }

  .cont {
    padding: 1em 1.5em 0.3em 1em;
  }

</style>
