<template>
  <q-modal ref="modal" minimized content-css="opacity: 0.97; background: #f5f9ff">
    <div class="popup">
      <h3>
        {{bookingData.summary}} <q-icon name="edit" />
        <q-popup-edit summary="Edit the Booking Name"
         v-model="bookingData.summary" @save="(value) =>
          editBooking(value, bookingData.start.dateTime, bookingData.end.dateTime)">
          <q-input v-model="bookingData.summary" dense autofocus counter></q-input>
        </q-popup-edit>
      </h3>
      <h4>{{serviceNames[bookingData.serviceID]}}</h4>
      <p class="text-weight-light">
        Date - <b>{{formatDate(bookingData.start.dateTime)}}</b>
      </p>
      <div class="row">
        <div class="col 8">
          <p class="text-weight-light">Start Time:</p>
          <div>
          <b>{{formatTime(bookingData.start.dateTime)}} </b><q-icon name="edit" />
            <q-popup-edit summary="Edit the Start Time" v-model="bookingData.start.dateTime">
              <q-datetime float-label="Start time"
                          v-model="bookingData.start.dateTime"
                          type="datetime"
                          @change="(value) =>
                          editBooking(bookingData.summary, value, bookingData.end.dateTime)" />
            </q-popup-edit>
            </div>
        </div>
        <div class="col 2">
          <p class="text-weight-light">End Time:</p>
          <div>
          <b>{{formatTime(bookingData.end.dateTime)}} </b><q-icon name="edit" />
            <q-popup-edit summary="Edit the End Time" v-model="bookingData.end.dateTime">
              <q-datetime float-label="End time"
                          v-model="bookingData.end.dateTime"
                          type="datetime"
                          @change="(value) =>
                          editBooking(bookingData.summary, bookingData.start.dateTime, value)" />
            </q-popup-edit>
            </div>
        </div>
      </div>
      <br>
      <p class="text-weight-light">Patient: <b>{{patientNames[bookingData.patientID]}}</b></p>
    </div>
        <q-btn @click="deleteBooking()" color="negative" class="full-width" size="120%">
          Delete</q-btn>
        <q-btn v-close-overlay class="full-width" size="120%">Close</q-btn>
  </q-modal>
</template>

<script>
// import { Notify } from 'quasar';
import moment from 'moment';

export default {
  name: 'BookingInformation',
  data() {
    return {
      bookingData: {},
      serviceNames: {},
      patientNames: {},
    };
  },
  mounted() {
    this.loading = true;
    const patientID = Object.keys(this.$store.state.user.patients);
    this.$binding('bookings', this.$firebase.firestore()
      .collection('bookingevents')
      .where('patientID', 'in', patientID))
      .then(() => {
        // Once loaded the data, set the spinner off
        this.loading = false;
      });
    this.bindFirestore();
  },
  methods: {
    /**
     * Bind all firestore data
     */
    bindFirestore() {
      this.loading = true;
      const patientID = Object.keys(this.$store.state.user.patients);
      this.$binding('bookings', this.$firebase.firestore()
        .collection('bookingevents')
        .where('patientID', 'in', patientID))

        .then(() => {
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.serviceNames,
              this.bookings[id].serviceID,
              await this.getServiceName(this.bookings[id].serviceID),
            );
          });
          Object.keys(this.bookings).forEach(async (id) => {
            this.$set(
              this.patientNames,
              this.bookings[id].patientID,
              await this.getPatientName(this.bookings[id].patientID),
            );
          });
          this.loading = false;
        });
    },
    /**
     * getServiceName
     * serviceID: ID of the service
     */
    async getServiceName(serviceID) {
      const dbRef = this.$firebase.firestore().collection('services').doc(serviceID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    /**
     * getpatienteName
     */
    async getPatientName(patientID) {
      const dbRef = this.$firebase.firestore().collection('patients').doc(patientID);
      const snapshot = await dbRef.get();
      return snapshot.data().name;
    },
    show(bookingData) {
      this.bookingData = bookingData;
      this.$refs.modal.show();
    },
    hide() {
      this.$refs.modal.hide();
    },
    formatDate(date) {
      return moment(date).format('D MMMM YYYY');
    },
    formatTime(date) {
      return moment(date).format('h:mma');
    },
    /**
     * Deletes booking
     * @param id
     */
    deleteBooking() {
      this.$q.dialog({
        title: 'Confirm',
        message: 'Do you want to delete this booking?',
        ok: 'Yes',
        cancel: 'No',
      }).then(() => {
        /* User Accepted Delete */
        this.$firebase.firestore()
          .collection('bookings')
          .doc(this.bookingData['.key'])
          .delete();
        this.hide();
      }).catch(() => {});
    },
    editBooking(titles, starttime, endtime) {
      this.$firebase.firestore()
        .collection('bookings')
        .doc(this.bookingData['.key'])
        .update({ summary: titles, startTime: starttime, endTime: endtime });
      console.log('nani');
    },
  },
};
</script>
<style>
h3 {
  margin-top: 0em;
  margin-bottom: 0.2em;
  text-align: center;
}
h4 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  text-align: center;
}
.q-pa-md {
  margin: 0.5em;
  text-align: center;
}
.btnm{
  margin: 0.5em;

}
.popup {
  margin: 0.5em;
  background: #f5f9ff;
  text-align: center;
}

</style>
