<template>
  <q-page class="bg-grey-3 q-pa-lg">
    <!-- Profile Card -->
    <q-card class="bg-white">
      <!-- Header -->
      <q-card-title>
        <h2 class="q-ma-sm">Profile</h2>
      </q-card-title>
      <!-- -->

      <!-- If loading, show spinner-->
      <q-card-main v-if="loading" class="flex flex-center">
        <q-spinner size="40px"></q-spinner>
      </q-card-main>

      <!-- Otherwise, show profile information -->
      <q-card-main v-else>
        <!-- Personal Information Section -->
        <q-field label="Name">
          <q-input v-model="profile.name" />
        </q-field>
        <q-field label="Date of Birth">
          <q-datetime v-model="profile.dateOfBirth" type="date" />
        </q-field>
        <!-- -->
      </q-card-main>
      <q-card-actions align="end">
        <q-btn flat color="amber" label="Connect Calendar" to='/authorise'/>
        <q-btn flat color="primary" to="/changepass" label="Change Password"/>
        <q-btn flat color="primary" @click="saveProfile" label="Save"/>
      </q-card-actions>
    </q-card>
    <!-- -->
  </q-page>
</template>

<script>
import ServiceListModal from '../../modals/ServiceList/ServiceList';

export default {
  name: 'UserProfile',
  components: {
    ServiceListModal,
  },
  mounted() {
    this.bindFirestore();
    this.$store.dispatch('user/waitForLoaded', this);
  },
  data() {
    return {
      loading: true,
      profile: {
        name: '',
        dateOfBirth: '',
      },
      userServices: {},
      services: {},
    };
  },
  methods: {
    /**
     * Bind the firestore collections to local variables
     * This function currently binds 'profile'
     */
    bindFirestore() {
      const userID = this.$firebase.auth().currentUser.uid;
      const userPromise = this.$store.dispatch('user/loadUser', this.$firebase.firestore().collection('users').doc(userID));

      Promise.all([userPromise]).then(() => {
        this.loading = false;
        this.profile = Object.assign({}, this.$store.state.user.data);
      });
    },
    /**
     * Saves profile information - callback from UI
     */
    saveProfile() {
      this.$store.dispatch('user/setUserProfile', this.profile);
    },
  },
};
</script>
