<template>
  <q-modal v-model="value" minimized class="rounded-border" no-backdrop-dismiss>
    <div class="q-pa-lg">
      <q-input
        v-model="booking.summary"
        placeholder="Add title"
        class="q-mb-sm"
        :error="$v.booking.summary.$error"
      ></q-input>

      <q-field icon="person" class="q-pb-md">
        <q-select
          float-label="Patient"
          v-model="booking.patientID"
          :options="patients"
          :error="$v.booking.patientID.$error"
        />
      </q-field>

      <q-field icon="person" class="q-pb-md">
        <q-select
          float-label="Doctor"
          v-model="booking.serviceID"
          :options="services"
          :error="$v.booking.serviceID.$error"

        />
      </q-field>

      <q-field icon="access_time" class="q-pb-lg">
        <q-datetime
          float-label="Start time"
          v-model="booking.start.dateTime"
          type="datetime"
          class="q-mb-md"
          :error="$v.booking.start.$error"
        />
        <q-datetime
          float-label="End time"
          v-model="booking.end.dateTime"
          :error="$v.booking.end.$error"
          type="datetime"/>
      </q-field>

      <div class="flex justify-end">
        <q-btn
          v-if="!saving"
          label="Close"
          color="red"
          @click="$emit('input', false)"
          flat/>
        <q-btn
          color="primary"
          flat
          @click="addBooking"
          label="Save"
          :loading="saving"
        />
      </div>
    </div>
    <q-inner-loading :visible="loading">
      <q-spinner-gears size="50px" color="primary"></q-spinner-gears>
    </q-inner-loading>
  </q-modal>
</template>

<script>
import forOwn from 'lodash/forOwn';
import { required } from 'vuelidate/lib/validators';
import axios from 'axios';
import firebase from '../../firebase';

async function sendPatientInformation(booking, link) {
  console.log(booking);
  const patient = await firebase.firestore().collection('patients').doc(booking.patientID).get();
  const service = await firebase.firestore().collection('services').doc(booking.serviceID).get();
  const info = await axios('https://us-central1-carersconnectdjlm.cloudfunctions.net/sendPatientInfoEmail', {
    params: {
      email: service.data().contact.email,
      name: patient.data().name,
      link,
      password: 'qwerty',
    },
  });
  return info;
}

export default {
  name: 'AddBooking',
  props: ['value'],
  data() {
    return {
      number: 10,
      loading: true,
      saving: false,
      services: [],
      patients: [],
      booking: {
        summary: '',
        serviceID: '',
        patientID: '',
        start: { dateTime: '' },
        end: { dateTime: '' },
        description: '',
        id: '',
        
      },
    };
  },
  validations: {
    booking: {
      summary: { required },
      serviceID: { required },
      patientID: { required },
      start: { required },
      end: { required },
    },
  },
  mounted() {
    this.fetchPatientNames();
    const promiseA = this.fetchServiceNames();
    Promise.all([promiseA]).then(() => {
      this.loading = false;
    });
  },
  methods: {
    async addBooking() {
      const link = `${document.location.origin}/#/patient/${this.booking.patientID}/`;
      console.log(this.$route, link);
      sendPatientInformation(Object.assign({}, this.booking), link);
      this.$v.booking.$touch();

      if (this.$v.booking.$error) {
        this.$q.notify('Please review fields again.');
      }
      
      this.booking.id = this.$firebase.firestore()
        .collection('bookingevents')
        .doc().id;

      const snapshotservices = await this.$firebase.firestore()
        .collection('services')
        .doc(this.booking.serviceID)
        .get();

      const snapshotpatients = await this.$firebase.firestore()
        .collection('patients')
        .doc(this.booking.patientID)
        .get();

      this.booking.description = "Patient - " + snapshotpatients.data().name;
      this.booking.location = snapshotservices.data().name + ', ' + snapshotservices.data().address; //put location of the place here
      this.saving = true;
      await this.$firebase.firestore()
        .collection('bookingevents')
        .add(this.booking);
      console.log('Finished adding booking!');
      this.saving = false;
      this.$emit('input', false);
    },

    async fetchServiceNames() {
      const snapshot = await this.$firebase.firestore()
        .collection('services')
        .get();
      this.services = snapshot.docs.map(doc => ({
        value: doc.id,
        label: doc.data().name,
      }));
    },

    fetchPatientNames() {
      forOwn(this.$store.state.user.patients, (value, key) => {
        this.patients.push({
          value: key,
          label: value.name,
        });
      });
    },
  },
};
</script>

<style>
.modal-content {
  border-radius: 20px!important;
}

.q-inner-loading {
  border-radius: 20px!important;
}
</style>
