<template>
  <div class="row">
    <div class="col-12">
      <q-field
        v-for="(items,key) in schema"
        v-if="(items.type == 'text' || items.type== 'number'||
          items.type == 'integer' || (items.type == 'select' && items.options.length > 0))
        && shown[key]"
        :key="key"
        :helper="items.helper"
        :error-label="error[key]"
        class="q-pa-md">

        <!-- IDEA Create a @blur event, then assign individual :error value
        based on the blur event and message from the blur event -->
        <q-input
          v-if="items.type == 'text'"
          v-model="localCopy[key]"
          :stack-label="items.label"
          :required="items.required"
          :error="errorFlag[key]"
          :readonly="items.readonly"
          type="text"
          @input="validate"
        />

        <q-input
          v-if="items.type == 'number'"
          v-model.number="localCopy[key]"
          :stack-label="items.label"
          :suffix="items.unit"
          :min="items.min!=undefined ? items.min : null"
          :max="items.max!=undefined ? items.max : null"
          :error="errorFlag[key]"
          :readonly="items.readonly"
          :decimals="items.decimals"
          type="number"
          @input="validate"
        />

        <!-- It tries to floor or ceil the number automatically -->
        <q-input
          v-if="items.type == 'integer'"
          v-model.number="localCopy[key]"
          :stack-label="items.label"
          :suffix="items.unit"
          :min="items.min!=undefined ? items.min : null"
          :max="items.max!=undefined ? items.max : null"
          :error="errorFlag[key]"
          :readonly="items.readonly"
          type="number"
          @input="validate"
        />

        <q-select
          v-if="items.type == 'select' && items.options.length > 0"
          v-model="localCopy[key]"
          :options="items.options"
          :stack-label="items.label"
          :error="errorFlag[key]"
          @input="validate"
        />

      </q-field>
    </div>
  </div>
</template>
<script>
const { forOwn } = require('lodash');

export default {
  props: {
    schema: {
      type: Object,
      default: () => {},
    },
    value: {
      type: Object,
      required: true,
    },
    storeFunc: {
      type: String,
      default: '',
    },
    storeExtend: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      error: {},
      errorFlag: {
      },
      localCopy: {},
      shown: {},
    };
  },
  watch: {
    value: {
      deep: true,
      handler() {
        forOwn(this.schema, (val, key) => {
          this.$set(this.localCopy, key, this.value[key]);
          this.$set(this.error, key, '');
          this.$set(this.errorFlag, key, false);
          this.$set(this.shown, key, true);
        });

        this.validate(false);
      },
    },
    schema: {
      deep: true,
      handler() {
        forOwn(this.localCopy, (val, key) => {
          if (!this.schema[key]) {
            this.$delete(this.localCopy, key);
            this.$delete(this.error, key);
            this.$delete(this.errorFlag, key);
            this.$delete(this.shown, key);
          }
        });
        forOwn(this.schema, (val, key) => {
          this.$set(this.localCopy, key, this.value[key]);
          this.$set(this.error, key, '');
          this.$set(this.errorFlag, key, false);
          this.$set(this.shown, key, true);
        });
      },
    },
  },
  mounted() {
    // initial validation
    this.validate();
  },
  created() {
    // do something after creating vue instance
    forOwn(this.schema, (item, key) => {
      this.$set(this.localCopy, key, this.value[key]);
      this.$set(this.error, key, '');
      this.$set(this.errorFlag, key, false);
      this.$set(this.shown, key, true);
    });
  },
  methods: {
    validate(emit = true) {
      let flag = true;
      forOwn(this.schema, (item, key) => {
        this.errorFlag[key] = false;
        this.error[key] = '';
        if (item.custom) {
          flag = this.validateCustom(key) && flag;
        }
        if (item.calculated) {
          this.localCopy[key] = item.calculated.call(this.localCopy);
        }
        if (item.shown) {
          this.shown[key] = item.shown.call(this.localCopy);
        }
        // don't validate readonly items - why have an error the user can't fix
        if (item.readonly) {
          return;
        }
        if (item.type === 'integer') {
          flag = this.validateInteger(key) && flag;
        }
        if (typeof item.min !== 'undefined') {
          flag = this.validateMin(key) && flag;
        }
        if (typeof item.max !== 'undefined') {
          flag = this.validateMax(key) && flag;
        }
        if (typeof item.required === 'function' ? item.required.call(this.localCopy) : item.required) {
          flag = this.validateRequired(key) && flag;
        }
      });
      if (this.storeFunc) {
        // if a store dispatch function is provided, use that
        let updateRequired = false;
        const updateObj = Object.assign({}, this.storeExtend);
        forOwn(this.schema, (item, key) => {
          if (this.value[key] !== this.localCopy[key] && !this.schema[key].calculated) {
            updateObj[key] = this.localCopy[key];
            updateRequired = true;
          }
        });
        if (updateRequired) {
          this.$store.dispatch(this.storeFunc, updateObj);
        }
      }
      const changeObj = {};
      forOwn(this.schema, (item, key) => {
        if (this.value[key] !== this.localCopy[key] && !this.schema[key].calculated) {
          changeObj[key] = this.localCopy[key];
        }
      });
      if (emit) {
        this.$emit('formValid', flag);
        this.$emit('input', this.localCopy, changeObj);
      }
    },
    validateCustom(key) {
      const valid = this.schema[key].custom.call(this.localCopy, this);
      this.errorFlag[key] = !valid || this.errorFlag[key];
      this.error[key] = valid ? this.error[key] : 'Name must be unique';
      return valid;
    },
    validateRequired(key) {
      let valid;
      switch (this.schema[key].type) {
        case 'text':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key].length > 0;
          break;
        case 'number':
        case 'integer':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key] !== '';
          break;
        case 'select':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key] !== '';
          break;
        default:
          break;
      }
      this.errorFlag[key] = !valid || this.errorFlag[key];
      this.error[key] = valid ? this.error[key] : 'Field is required';
      return valid;
    },
    validateMin(key) {
      let valid;

      switch (this.schema[key].type) {
        case 'text':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key].length >= this.schema[key].min;
          break;
        case 'number':
        case 'integer':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key] >= this.schema[key].min;
          break;

        default:
          break;
      }
      this.errorFlag[key] = !valid || this.errorFlag[key];
      this.error[key] = valid ? this.error[key] : `Minimum: ${this.schema[key].min}`;
      return valid;
    },
    validateMax(key) {
      let valid;
      switch (this.schema[key].type) {
        case 'text':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key].length <= this.schema[key].max;
          break;
        case 'number':
        case 'integer':
          valid = typeof this.localCopy[key] !== 'undefined' && this.localCopy[key] <= this.schema[key].max;
          break;
        default:
          break;
      }
      this.errorFlag[key] = !valid || this.errorFlag[key];
      this.error[key] = valid ? this.error[key] : `Maximum: ${this.schema[key].max}`;
      return valid;
    },
    validateInteger(key) {
      // we add parseInt here to allow strings to be passed in
      // because otherwise, before the user changes anything it will be treated as a string
      // as v-model.number only works once the field is changed
      const valid = Number.isInteger(parseInt(this.localCopy[key], 10));
      this.errorFlag[key] = !valid || this.errorFlag[key];
      this.error[key] = valid ? this.error[key] : 'Integer value required';
      return valid;
    },
  },
};
</script>

<style>
</style>
