<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page>
        <!-- Main Card -->
        <q-card class="fixed-center login-card bg-white">

          <!-- Main Content -->
          <div class="q-ma-lg">

            <!-- Title -->
            <div class="text-center">
              <h2 class="col">Change Password</h2>
            </div>
            <!-- -->

            <!-- Show spinner while loading data -->
            <div class="flex flex-center" v-if="loading">
              <q-spinner size="40px"/>
            </div>
            <!-- -->

            <!-- Form Content -->
            <div v-else>
              <!-- Password Input -->
              <q-field
                class="q-mt-lg"
                icon="lock"
                helper="Type in your password"
                :error="$v.form.password.$error || $v.form.repeatPassword.$error"
                :error-label="passwordError">

                <!-- Password -->
                <q-input type="password" placeholder="Password"
                         v-model.trim="form.password"
                         @blur="$v.form.password.$touch"
                         @keyup.enter="updatePass()"/>
                <!-- -->

                <!-- Repeat password -->
                <q-input class="q-mt-lg" placeholder="Repeat password"
                  type="password"
                  v-model.trim="form.repeatPassword"
                  @blur="$v.form.repeatPassword.$touch"
                  @keyup.enter="updatePass()"/>
                <!-- -->
              </q-field>

              <!-- Submit -->
              <div style="width: 100%" class="row justify-center center q-mt-xl">
                <q-btn label="Chane Password" color="primary" @click="updatePass"></q-btn>
              </div>
              <!-- -->
            </div>
            <!-- -->

          </div>
          <!-- -->

        </q-card>
        <!-- Main Card -->

      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';
import passwordComplexity from '../../modals/passwordComplexity';

export default {
  name: 'Login',

  data() {
    return {
      form: {
        password: '',
        repeatPassword: '',
      },
      loading: false,
    };
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(6),
        passwordComplexity,
      },
      repeatPassword: {
        required,
        sameAsPassword: sameAs('password'),
      },
    },
  },
  computed: {
    /**
     * Returns error text based on vulidate error
     * @returns {*}
     */
    passwordError() {
      if (!this.$v.form.password.required) {
        return 'Password required';
      } else if (!this.$v.form.password.minLength) {
        return 'Password must be at least 6 characters long';
      } else if (!this.$v.form.password.passwordComplexity) {
        return 'Password must have minimmum of 1 upper case letter and 1 number';
      } else if (!this.$v.form.repeatPassword.required) {
        return 'Password repeat required';
      } else if (!this.$v.form.repeatPassword.sameAsPassword) {
        return 'Passwords don\'t match';
      }
      return null;
    },
  },
  methods: {
    updatePass() {
       if (!this.$v.form.$error) {
      const user = this.$firebase.auth().currentUser;
      const newPassword = this.form.password;

      user.updatePassword(newPassword).then(() => {
      // Update successful.
      this.$router.push({ path: '/' });
      }, (error) => {
       // An error happened.
       this.$q.notify('Please enter a valid Password');
      });
       } else this.$q.notify('Please enter a valid Password');
    }, 
  },
};
</script>

<style scoped>
  .q-layout-page {
    background-image: url('~assets/register-user-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .login-card {
    width: 80vw;
  }

  .q-btn {
    width: 100%;
  }

  .q-card {
    border-radius: 10px!important;
  }
</style>
