<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page>
        <!-- Loading Spinner -->
        <div v-if="loading" class="fixed-center">
          <q-spinner color="white" size="100px"></q-spinner>
        </div>

        <!-- Main Class -->
        <div v-else class="fixed-center flex flex-center">
          <h3 class="text-white">Create Service</h3>

          <!-- Stepper -->
          <q-stepper
            ref="stepper"
            class="bg-white"
            style="width: 70vw;"
            vertical>

            <!-- Step: Personal -->
            <q-step default title="Service">
              <div style="height: 100%">
                <h4>Service Information</h4>
              </div>
              <q-stepper-navigation>
                <div class="row" style="width: 100%">
                  <!-- Back Button -->
                  <q-btn class="col"
                         color="negative"
                         @click="$refs.stepper.previous()"
                         label="Back"
                         flat/>
                  <!-- -->

                  <!-- Next Button -->
                  <q-btn
                    class="col"
                    color="positive"
                    @click="$refs.stepper.next()"
                    label="Next"
                    flat/>
                  <!-- -->
                </div>
              </q-stepper-navigation>
            </q-step>

            <!-- Step: Finish -->
            <q-step title="You're done!">
                <h4>You're all ready to go!</h4>
                <q-stepper-navigation>
                  <div class="row" style="width: 100%">
                    <!-- Back Button -->
                    <q-btn class="col"
                      color="negative"
                      @click="$refs.stepper.previous()"
                      label="Back"
                      flat></q-btn>
                    <!-- -->

                    <!-- Finish Button -->
                    <q-btn
                      class="col"
                      color="positive"
                      @click="submitForm"
                      label="Finish"></q-btn>
                    <!-- -->
                  </div>
                </q-stepper-navigation>
            </q-step>
          </q-stepper>
          <!-- -->

        </div>
        <!-- -->
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import TextHR from '../../components/TextHR/TextHR';

export default {
  name: 'ServiceCreation',

  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      loading: false,
    };
  },
  components: {
    TextHR,
  },
  methods: {
    /**
     * Called when service ready to submit form
     * Called from submit button, or @keyup.enter
     *
     * In the future will save information into Firestore,
     * for now, just a stub.
     */
    submitForm() {
      const that = this;

      this.loading = true;
      this.setUserRegistered(this.$firebase.auth().currentUser, true)
        .then(() => {
          that.loading = false;
          that.$router.push({ path: '/ServiceHome' });
        });
    },
    /**
     * Set whether the user has the registered flag in the database
     * @param uid
     * @param registered
     * @returns {Promise<void>}
     */
    setUserRegistered(user, registered) {
      return this.$firebase.firestore()
        .collection('users')
        .doc(user.uid)
        .update({
          registered,
        });
    },
  },
};
</script>

<style scoped>
  .q-layout-page {
    background-image: url('~assets/create-user-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .q-btn {
    width: 70%;
  }

  .q-card {
    border-radius: 10px!important;
  }
</style>
