<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <q-page>
        <!-- Main Card -->
        <q-card class="fixed-center login-card bg-white">

          <!-- Main Content -->
          <div class="q-ma-lg">

            <!-- Title -->
            <div class="row text-center">
              <h2 class="col">Register Carer</h2>
            </div>
            <!-- -->

            <!-- Show spinner while loading data -->
            <div class="flex flex-center" v-if="loading">
              <q-spinner size="40px"/>
            </div>
            <!-- -->

            <!-- Form Content -->
            <div v-else>
              <!-- Name Field -->
              <q-field
                class="q-mt-md"
                icon="person"
                helper="Type in your name"
                :error="$v.form.name.$error"
                error-label="Name required">
                <q-input
                  type="text"
                  placeholder="Name"
                  v-model.trim="form.name"
                  @blur="$v.form.name.$touch"
                  @keyup.enter="submitForm()"/>
              </q-field>
              <!-- -->

              <!-- Email Input -->
              <q-field
                class="q-mt-md"
                icon="mail"
                helper="Type in your email address"
                :error="$v.form.email.$error"
                error-label="Please type a valid email">
                <q-input
                  type="email"
                  placeholder="Email"
                  v-model.trim="form.email"
                  @blur="$v.form.email.$touch"
                  @keyup.enter="submitForm()"/>
              </q-field>
              <!-- -->
              <!-- Password Input -->
              <q-field
                class="q-mt-lg"
                icon="lock"
                helper="Type in your password"
                :error="$v.form.password.$error || $v.form.repeatPassword.$error"
                :error-label="passwordError">

                <!-- Password -->
                <q-input type="password" placeholder="Password"
                         v-model.trim="form.password"
                         @blur="$v.form.password.$touch"
                         @keyup.enter="submitForm()"/>
                <!-- -->

                <!-- Repeat password -->
                <q-input class="q-mt-lg" placeholder="Repeat password"
                  type="password"
                  v-model.trim="form.repeatPassword"
                  @blur="$v.form.repeatPassword.$touch"
                  @keyup.enter="submitForm()"/>
                <!-- -->
              </q-field>

              <!-- Submit -->
              <div style="width: 100%" class="row justify-center center q-mt-xl">
                <q-btn label="Register" color="primary" @click="submitForm"></q-btn>
              </div>
              <!-- -->
            </div>
            <!-- -->

          </div>
          <!-- -->

        </q-card>
        <!-- Main Card -->

      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators';
import passwordComplexity from '../../modals/passwordComplexity';

export default {
  name: 'Login',

  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        repeatPassword: '',
      },
      loading: false,
    };
  },
  validations: {
    form: {
      name: { required },
      email: { required, email },
      password: {
        required,
        minLength: minLength(6),
        passwordComplexity,
      },
      repeatPassword: {
        required,
        sameAsPassword: sameAs('password'),
      },
    },
  },
  computed: {
    /**
     * Returns error text based on vulidate error
     * @returns {*}
     */
    passwordError() {
      if (!this.$v.form.password.required) {
        return 'Password required';
      } else if (!this.$v.form.password.minLength) {
        return 'Password must be at least 6 characters long';
      } else if (!this.$v.form.password.passwordComplexity) {
        return 'Password must have minimmum of 1 upper case letter and 1 number';
      } else if (!this.$v.form.repeatPassword.required) {
        return 'Password repeat required';
      } else if (!this.$v.form.repeatPassword.sameAsPassword) {
        return 'Passwords don\'t match';
      }
      return null;
    },
  },
  methods: {
    /**
     * Validates form, then creates user
     */
    submitForm() {
      const that = this;

      this.$v.form.$touch();
      // If form has no errors...
      if (!this.$v.form.$error) {
        // Set spinner spinning...
        this.loading = true;

        this.createAccount(this.form)
          .then(() => {
            that.loading = false;
            that.$router.push({ path: '/login' });
          })
          .catch((error) => {
            if (error.code === 'auth/email-already-in-use') {
              that.$q.notify('That email is already taken!');
              that.loading = false;
              that.form.email = '';
            } else {
              that.$q.notify('Unknown error');
            }
          });
      }
    },
    /**
     * Creates a user from the profile
     * @param profile
     */
    createAccount(profile) {
      // Create account...
      return new Promise((resolve, reject) => {
        this.$firebase.auth()
          .createUserWithEmailAndPassword(profile.email, profile.password)
          .then((userAccount) => {
            // Now create a user in the users collection
            this.addUserToFirestore(userAccount, profile)
              .then(() => {
                resolve();
              });
          })
          .catch(error => reject(error));
      });
    },
    /**
     * Adds a user to Firestore users/*
     * @param userAccount -firebase.auth.UserCredential
     * @param profile - Profile of the user
     * @returns {Promise<void>}
     */
    addUserToFirestore(userAccount, profile) {
      return this.$firebase.firestore()
        .collection('users')
        .doc(userAccount.user.uid)
        .set({ name: profile.name, role: 'carer' });
    },
  },
};
</script>

<style scoped>
  .q-layout-page {
    background-image: url('~assets/register-user-background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .login-card {
    width: 80vw;
  }

  .q-btn {
    width: 100%;
  }

  .q-card {
    border-radius: 10px!important;
  }
</style>
