<template>
  <div class="flex flex-center">
    <div style="width: 70%; height: 12px; border-color: #bdbdbd;
        border-bottom: 1px solid black; text-align: center">
        <span style="font-size: 15px; color: grey; background-color: #FFF; padding: 0 10px;">
          {{text}}
        </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TextHR',
  props: ['text'],
};
</script>
