<template>
  <q-modal v-model="opened" minimized class="rounded-border" no-backdrop-dismiss>
      <p>hello</p>
  </q-modal>
</template>

<script>
export default {
  name: 'AllowPermission',
  data() {
    return {
    };
  },
};
</script>
