<template>
  <q-modal v-model="modalShow" minimized>

    <div class="gmap">
        <GmapMap
          :center="pos"
          :zoom="14"
          map-type-id="terrain"
          style="width: 100%; height: 150px"
          :options="{
             zoomControl: false,
             mapTypeControl: false,
             scaleControl: false,
             streetViewControl: false,
             rotateControl: false,
             fullscreenControl: false,
             disableDefaultUi: false
           }">
           <gmap-marker
            :position="pos"
           ></gmap-marker>
        </GmapMap>
    </div>

    <!-- populate service information -->
    <div class="q-mb-sm text-left q-pa-md">
      <div class="q-headline q-pa-sm" style="font-size: 3.8vw">
        <big class="text-weight-medium" style="text-truncate">{{service.name}}</big><br>
        <p class="text-bold text-faded">{{service.type}}</p>
        <small class="text-weight-light">{{service.address}}<br></small>
        <small class="text-weight-light text-no-wrap text-truncate" v-if="service.contact">
          {{service.contact.phone}}</small><br>
      </div>
      <div class="flex justify-end">
        <q-btn v-close-overlay
          label="Close"
          color="red"
          flat/>
        <q-btn label="Book Now"
          color="primary"
          flat
          @click="opened = true;"/>
        <q-btn color="primary" @click="openPhone(service)">Call</q-btn>
      </div>
    </div>

    <AddBooking v-model="opened"></AddBooking>
  </q-modal>
</template>

<script>
import { gmapApi } from 'vue2-google-maps';
import AddBooking from '../AddBooking/AddBooking';

export default {
  name: 'ServiceInformation',
  components: { AddBooking },
  data() {
    return {
      service: {},
      loading: true,
      pos: { lat: 0, lng: 0 },
      google: {},
      modalShow: false,
      madeCall: false,
      opened: false,
    };
  },
  mounted() {
    window.addEventListener('focus', this.checkFocus);
    window.addEventListener('blur', this.checkFocus);
    gmapApi();
    this.$gmapApiPromiseLazy().then(() => {
      this.google = gmapApi();
    });
  },
  methods: {
    checkFocus() {
      if (document.hasFocus() && this.madeCall) {
        this.opened = true;
        this.modalShow = false;
      }
    },
    async showModal(service) {
      this.service = service;
      this.pos = await this.getLocation(this.service.address);
      this.modalShow = true;
    },
    bindFirestore() {
      const that = this;
      this.$binding('service', this.$firebase.firestore()
        .collection('services')
        .doc(this.$route.params.serviceid))
        .then(() => {
          that.loading = false;
        });
    },
    getLocation(address) {
      return new Promise((resolve, reject) => {
        const g = this.google.maps; // gmapApi().maps;
        const geocoder = new g.Geocoder();
        geocoder.geocode({ address }, (results, status) => {
          if (status === 'OK') {
            const pos = {
              lat: parseFloat(results[0].geometry.location.lat()),
              lng: parseFloat(results[0].geometry.location.lng()),
            };
            resolve(pos);
          } else {
            reject(status);
          }
        });
      });
    },
    openPhone(service) {
      console.log(service);
      console.log('document', document);
      document.location = `tel:${service.contact.phone}`;
      this.madeCall = true;
    },
  },
};
</script>
<style>
  .gmap{
    position: relative;
    top: -10px;
    width: 100%;

  }
</style>
