<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar class="no-shadow">

        <q-toolbar-title>

          CarersConnect
          <div slot="subtitle">Carer - {{$store.state.user.data.name}}</div>
        </q-toolbar-title>

        <q-btn dense flat round icon="person" @click="drawerRight = !drawerRight"></q-btn>

      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer side="right"
                     v-model="drawerRight"
                     :width="200"
                     :breakpoint="992"
                     bordered
                     content-class="bg-grey-3">
      <div elevated class="" style="height: 50px">

        <q-item class="bg-primary text-white" style="height:50px">
          {{$store.state.user.data.name}}
        </q-item>

        <!-- Career Profile -->
        <q-item to="/profile" class="bg-white" style="height:50px">
          <q-item-side icon="account circle" />
          <q-item-main label="Profile" />
        </q-item>
      </div>
      <q-scroll-area style="height: calc(100% - 150px);
        margin-top: 50px; border-right: 1px solid #ddd">
        <q-list padding>

          <!-- Patient List -->
          <q-item v-for="(patient, key) in $store.state.user.patients" :key="key"
                  :to="'/patient/' + key">
            <q-item-side icon="label" />
            {{patient.name}}
          </q-item>

          <q-item-separator />

        </q-list>
      </q-scroll-area>

      <div class="absolute-bottom">
        <!-- Add Patient -->
        <q-item v-close-overlay
                @click.native="$refs.addPatientModal.showModal()"
                class="bg-green text-white" style="height:65px">
          <q-item-side icon="add_box" />
          <q-item-main>
            <q-item-tile label>Add Patient</q-item-tile>
          </q-item-main>
        </q-item>

        <!-- Sign Out -->
        <q-item class="bg-red-5 text-white" style="height:65px" to="/login">
          <q-item-side icon="exit_to_app" />
          <q-item-main>
            <q-item-tile @click.native="$firebase.auth().signOut()" label>Sign Out</q-item-tile>
          </q-item-main>
        </q-item>
      </div>
    </q-layout-drawer>

    <AddPatient ref="addPatientModal" />

    <!-- Page rendering -->
    <q-page-container>
      <transition name="fade"
                  mode="out-in">
        <router-view :key="$route.fullPath" />
      </transition>
    </q-page-container>

    <!-- Bottom tab navigation -->
    <q-layout-footer>
      <q-tabs animated swipeable position="bottom" align="justify">
        <q-route-tab to='/' default slot="title" icon="calendar_today" label="Bookings" />
        <q-route-tab to='/services' slot="title" icon="list" label="Services" />
        <q-route-tab to='/community' slot="title" icon="people" label="Help & Info" />
      </q-tabs>
    </q-layout-footer>

  </q-layout>
</template>

<script>
import AddPatient from '../modals/AddPatient/AddPatient';

export default {
  data() {
    return {
      drawerRight: false,
    };
  },
  components: { AddPatient },
  name: 'MyLayout',
};
</script>
