<template>
  <CarerMobileLayout/>
</template>

<script>
import CarerMobileLayout from '../layouts/CarerMobileLayout';
import ServiceMobileLayout from '../layouts/ServiceMobileLayout';

export default {
  name: 'MyLayout',
  mounted() {
    this.$q.addressbarColor.set('#07689f');
  },
  components: {
    CarerMobileLayout,
    ServiceMobileLayout,
  },
};
</script>

<style>
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }
</style>
