<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header class="no-shadow">
      <q-toolbar color="orange">
        <q-toolbar-title>
          CarersConnect
          <div slot="subtitle">Staff - {{$store.state.user.data.name}}</div>
        </q-toolbar-title>
        <ServiceNavigationDropdown/>
      </q-toolbar>
    </q-layout-header>

    <!-- Page rendering -->
    <q-page-container>
      <router-view />
    </q-page-container>
    <!-- -->

    <!-- Bottom tab navigation -->
    <q-layout-footer>
      <q-tabs animated swipeable position="bottom" color="orange" align="justify">
        <q-route-tab to='/servicehome'
          default slot="title"
          icon="calendar_today" label="Bookings" />
        <!-- need to route provider to the patient list when completed -->
        <q-route-tab to='/patients/list' slot="title" icon="list" label="Patient List" />
        <q-tab @click='openURL("https://carersconnect.eante.com.au/")' slot="title" icon="people" label="Community" />
      </q-tabs>
    </q-layout-footer>
    <!-- -->
  </q-layout>
</template>

<script>
import { openURL } from 'quasar';
import ServiceNavigationDropdown from '../components/navigation/service/ServiceNavigationDropdown/ServiceNavigationDropdown';

export default {
  name: 'MyLayout',
  components: {
    ServiceNavigationDropdown,
  },
  mounted() {
    this.$q.addressbarColor.set('rgb(0, 150, 136)');
  },
  methods: {
    openURL,
  },
};
</script>
