<template>
    <q-modal minimized ref="modal">
      <div class="q-pa-md">
        <h3 class="q-mt-sm q-mb-sm">{{getModeTag}} Medical History</h3>

        <!-- Saving Spinner -->
        <div v-if="saving" class="flex flex-center" style="width: 100%">
          <q-spinner class="q-ma-md" size="40px"></q-spinner>
        </div>
        <!-- Input Boxes -->
        <div v-else class="q-mb-lg">
          <q-input v-model="medicalHistory.diagnosis" stack-label="Diagnosis"/>
          <q-input v-model="medicalHistory.allergies" stack-label="Allergies"/>
          <q-input v-model="medicalHistory.vacinations" stack-label="Vacinations"/>
          <q-input v-model="medicalHistory.doctor" stack-label="Doctor(s)"/>
          <q-input v-model="medicalHistory.practice" stack-label="Pratice(s) Details"/>
          <q-input v-model="medicalHistory.lastVisit" stack-label="Last Visit"/>
          <q-input v-model="medicalHistory.acat" stack-label="ACAT Assessment"/>
        </div>

        <!-- Action Buttons -->
        <div class="row justify-end" style="width: 100%">
          <q-btn color="positive" :label="getModeTag" @click="submitForm" flat :disable="saving"/>
          <q-btn color="negative" label="Close" @click="hideModal" flat :disable="saving"/>
        </div>
      </div>
  </q-modal>
</template>

<script>

export default {
  name: 'AddEditHistory',
  props: {
    patientID: '',
  },
  data() {
    return {
      // Stores the form's data
      medicalHistory: {
        diagnosis: '',
        allergies: '',
        vacinations: '',
        doctor: '',
        practice: '',
        lastVisit: '',
        acat: '',
      },
      // When we are saving the information...
      saving: false,
      edit: false,
      doc: {},
    };
  },
  computed: {
    /**
     * Get mode tag
     * Returns "Add" or "Edit" depending on mode
     */
    getModeTag() {
      if (this.edit) {
        return 'Edit';
      }
      return 'Add';
    },
  },
  methods: {
    /**
     * Shows the modal.
     * If edit mode is set to true, and a doc is provided
     * instead of creating a new one, it'll update
     * the preexisting one.
     */
    showModal(edit, doc) {
      // By default set edit mode to false
      this.edit = false;

      // If edit mode is true, then
      if (edit) {
        this.edit = true;
        this.medicalHistory = doc;
      }

      // Reset validation, and show the modal
      this.$refs.modal.show();
    },
    /**
     * Hides modal, and clears form and validation
     */
    hideModal() {
      // Resets form
      this.resetMedicalHistory();

      // Hide modal
      this.$refs.modal.hide();
    },
    /**
     * Callback for any sort of "submit form" event, inc:
     * input keyup.enter events, and "Add/Edit" button press
     *
     * Validates form, and redirects to appropriate DB action
     */
    submitForm() {
      // Depending on modal mode, add or edit the prescription
      if (this.edit) {
        this.editMedicalHistory();
      } else {
        this.addMedicalHistory();
      }
    },
    /**
    * Writes the new data to the database
    */
    addMedicalHistory() {
      this.saving = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('medicalHistory')
        .add(this.medicalHistory)
        .then(() => {
          // Set saving flag to false - thus removing the spinner
          this.saving = false;
          // Hide modal
          this.hideModal();
        });
    },
    /**
    * Instead of creating a new one, edit an existing one
    * Requires the .key of the existing document as provided by
    * the current object.
    */
    editMedicalHistory() {
      this.saving = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('medicalHistory')
        .doc(this.medicalHistory['.key'])
        .set(this.medicalHistory)
        .then(() => {
        // Set saving flag to false - thus removing the spinner
          this.saving = false;
          // Hide modal
          this.hideModal();
        });
    },
    /**
    * Resets the prescription inputs to default
    */
    resetMedicalHistory() {
      this.medicalHistory = {
        diagnosis: '',
        allergies: '',
        vacinations: '',
        doctor: '',
        practice: '',
        lastVisit: '',
        acat: '',
      };
    },
  },
};
</script>
