<template>
  <div>
    <!-- Dropdown menu for profile and signing out -->
    <q-btn-dropdown icon="person" flat >
      <!-- dropdown content -->
      <q-list link>
        <q-list-header>{{$store.state.user.data.name}}</q-list-header>
        <q-item to="/serviceprofile">
          <q-item-main>
            <q-item-tile label>Profile (Service)</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item-separator />
        <!-- Switch Account (Work in progress)-->
        <q-item>
          <q-item-main>
            <q-item-tile @click.native="$firebase.auth().signOut()"
                         label>Switch Account</q-item-tile>
          </q-item-main>
        </q-item>
        <q-item-separator />
        <!-- Sign out -->
        <q-item>
          <q-item-main>
            <q-item-tile @click.native="$firebase.auth().signOut()" label>Sign Out</q-item-tile>
          </q-item-main>
        </q-item>
      </q-list>
    </q-btn-dropdown>
  </div>
</template>

<script>
export default {
  name: 'ServiceNavigationDropdown',
};
</script>

<style>
  /* TODO This alters the dropdown style for the whole app */
  .q-btn-dropdown-arrow {
    display: none!important;
  }
</style>
