<template>
    <q-modal minimized ref="modal">
      <div class="q-pa-md">
        <h3 class="q-mt-sm q-mb-sm">{{getModeTag}} Social History</h3>

        <!-- Saving Spinner -->
        <div v-if="saving" class="flex flex-center" style="width: 100%">
          <q-spinner class="q-ma-md" size="40px"></q-spinner>
        </div>
        <!-- Input Boxes -->
        <div v-else class="q-mb-lg">
          <q-input v-model="socialHistory.relationship" stack-label="Relationship Status"/>
          <q-input v-model="socialHistory.name" stack-label="Full Name of Partner"/>
          <q-input v-model="socialHistory.work" stack-label="Work Experience"/>
          <q-input v-model="socialHistory.language" stack-label="Languages Spoken"/>
          <q-input v-model="socialHistory.religion" stack-label="Religious Faith"/>
          <q-input v-model="socialHistory.interest" stack-label="Interests"/>
          <q-input v-model="socialHistory.travel" stack-label="Travels and Holidays"/>
        </div>

        <!-- Action Buttons -->
        <div class="row justify-end" style="width: 100%">
          <q-btn color="positive" :label="getModeTag" @click="submitForm" flat :disable="saving"/>
          <q-btn color="negative" label="Close" @click="hideModal" flat :disable="saving"/>
        </div>
      </div>
  </q-modal>
</template>

<script>
/**
 * Usage:
 * To add social history
 */
export default {
  name: 'AddEditSocial',
  props: {
    patientID: '',
  },
  data() {
    return {
      // Stores the form's data
      socialHistory: {
        relationship: '',
        name: '',
        work: '',
        language: '',
        religion: '',
        interest: '',
        travel: '',
      },
      // When we are saving the information...
      saving: false,
      edit: false,
      doc: {},
    };
  },
  computed: {
    /**
     * Get mode tag
     * Returns "Add" or "Edit" depending on mode
     */
    getModeTag() {
      if (this.edit) {
        return 'Edit';
      }
      return 'Add';
    },
  },
  methods: {
    /**
     * Shows the modal.
     * If edit mode is set to true, and a doc is provided
     * instead of creating a new one, it'll update
     * the preexisting one.
     */
    showModal(edit, doc) {
      // By default set edit mode to false
      this.edit = false;

      // If edit mode is true, then
      if (edit) {
        this.edit = true;
        this.socialHistory = doc;
      }

      // Reset validation, and show the modal
      this.$refs.modal.show();
    },
    /**
     * Hides modal, and clears form and validation
     */
    hideModal() {
      // Resets form
      this.resetSocial();

      // Hide modal
      this.$refs.modal.hide();
    },
    /**
     * Callback for any sort of "submit form" event, inc:
     * input keyup.enter events, and "Add" button press
     *
     */
    submitForm() {
      // add the form
      this.addSocial();
    },
    /**
    * Writes the new data to the database
    */
    addSocial() {
      this.saving = true;
      this.$firebase.firestore()
        .collection('patients')
        .doc(this.patientID)
        .collection('socialHistory')
        .add(this.socialHistory)
        .then(() => {
          // Set saving flag to false - thus removing the spinner
          this.saving = false;
          // Hide modal
          this.hideModal();
        });
    },
    /**
    * Resets the form inputs to default
    */
    resetSocial() {
      this.socialHistory = {
        relationship: '',
        name: '',
        work: '',
        language: '',
        religion: '',
        interest: '',
        travel: '',
      };
    },
  },
};
</script>
